[2017-06-08 09:14] giuleon opened #2 "Build your first extension fails"
#### Category
- [ ] Question
- [X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
According with this get started:
https://dev.office.com/sharepoint/docs/spfx/extensions/get-started/using-page-placeholder-with-extensions
after the command gulp serve I have the following error:

Error - [write-manifests] Manifest validation error (./src/extensions/appCustomizerHelloWorld/AppCustomizerHell

[2017-06-08 09:34] giuleon commented on #2
The problem is caused by the alias in the manifest, after that I changed it with a shorter name everything worked as expected.

[2017-06-11 14:32] VesaJuvonen commented on #2
thx Giuliano, alias entry does indeed have to be less than 40 characters long. If you follow up on the tutorial, you should get alias as 'HelloWorldApplicationCustomizer', which does not have issues (31 chars). I'll add though a note on the tutorial around this to avoid similar issues for others, so thanks for sharing the input. Closing this for now, since the issue is solved.

[2017-06-11 14:32] #2 closed

[2017-06-14 11:01] NPrice99 opened #10 "Are the dates correct on the template correct - 2018 ??"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [X ] Question
- [ ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
_If you are reporting a bug, please describe the expected behavior. If you are s

[2017-06-15 12:10] VesaJuvonen commented on #10
Hi Nigel, if you are referring to readme-template, that is indeed intentionally using 2018 as data example, since those dates are obviously subject to update by the people who are updating the sample. It's just a template file showing expected structure - https://github.com/SharePoint/sp-dev-fx-extensions/blob/master/samples/README-template.md. I'll close this for now, but if the topic was around

[2017-06-15 12:10] #10 closed

[2017-06-20 13:50] sprider opened #13 "Context menu for document libraries using SPFx extensions"
#### Category
- [ ] Question

Can we enable new context menu for document libraries using SPFx extensions?

Sample exelements.xml file content

![snip20170620_9](https://user-images.githubusercontent.com/21008316/27355339-482c2a48-55d0-11e7-9d01-1e6324591ed9.png)

Also how to set the site collection scope for custom action?

[2017-06-21 08:08] lazaki opened #14 "Deploy sharepoint framework extension to sharepoint site collection #spfx #spfx-extensions"
#### Category
- [ ] Bug

#### Expected or Desired Behavior
Deploy sharepoint framework extension to my sharepoint site collection

#### Observed Behavior
My package not valid when upload it on my App Catalog

#### Steps to Reproduce
I try it with both, my sharepoint framework extension and with react-slider-field-customizer([https://github.com/SharePoint/sp-dev-fx-extensions/tree/master/samples/re

[2017-06-21 08:26] giuleon commented on #14
Hi,

you need of a developer tenant because SharePoint Framework Extensions is in preview at the moment.
Here you can create a dev tenant:
https://dev.office.com/devprogram

regards

[2017-06-21 08:56] VesaJuvonen commented on #13
Hi Joseph,
You can attach commands to context menu by using `ClientSideExtension.ListViewCommandSet.ContextMenu` Location, like shown in the following documentation/tutorial - https://dev.office.com/sharepoint/docs/spfx/extensions/get-started/building-simple-cmdset-with-dialog-api#debugging-your-listview-command-set-using-gulp-serve-and-query-string-parameters.

We do not however currently support

[2017-06-21 08:56] #13 closed

[2017-06-22 08:10] lazaki commented on #14
Thank yot 👍 @giuleon !

Do you have information when GA will be available?

[2017-06-22 09:40] giuleon commented on #14
I don't know exactly, sorry.

[2017-06-22 13:08] sprider commented on #13
Sure, @VesaJuvonen.

This means ClientSideExtension.ListViewCommandSet.ContextMenu type Command Set should display in document library item context?

[2017-06-22 13:29] sprider commented on #13
Sure, @VesaJuvonen.

Thank you for the update.

[2017-06-22 17:31] VesaJuvonen commented on #14
We do not have yet ETA for the GA, since this is dependent on the feedback we are getting during dev preview. GA can be estimated to happen somewhere between now and Ignite conference in September. Unless I'm mistaken, you tried to use Extensions in some other tenant type, so closing this issue now. If that was a wrong conclusion, please reopen or comment.

Notice that you can see the exact reason

[2017-06-22 17:31] #14 closed

[2017-06-23 07:55] lazaki opened #16 "Calling REST Api with SPHtttpClient get 403"
#### Category
- [ ] Question

I call the list api in my tenant with SPHttpClient, and get 403, also try to call same api using jQuery ger method wich work.

Can you tell me the recommended way to REST call from the Shared Point Extension?

Thank you.

[2017-06-23 22:23] sprider opened #17 "TypeScript error with SharePoint module in SPFx Extension"
#### Category
- [ ] Question

I am trying to connect to SharePoint term store using the JavaScript Object Model (JSOM) as explained [here](https://dev.office.com/sharepoint/docs/spfx/web-parts/guidance/connect-to-sharepoint-using-jsom). But I am getting the below error:

Any idea?

Feature : SPFx Extension

![image](https://user-images.githubusercontent.com/21008316/27502251-6e7c0f46-5838-11e7-87e

[2017-06-27 13:12] sprider commented on #17
@VesaJuvonen - Any suggestions?

[2017-06-29 16:52] waldekmastykarz commented on #16
The recommended way for calling SharePoint is by using the SPHttpClient. For non-SharePoint APIs you should use the HttpClient. If you use for example AngularJS, it comes with its own $http service that you can use instead.

[2017-06-30 13:23] sprider commented on #17
@waldekmastykarz - Is this a bug?

[2017-06-30 13:41] VesaJuvonen commented on #17
Hi Joseph, could you add these kind of potential issues in SPFx to sp-dev-docs repository issue list. We have dedicated MS engineers helping with questions there. Thx.

If issue is within a sample on specific Repo, then there, but this is potential issue in actual SPFx platform.

[2017-06-30 13:41] #17 closed

[2017-06-30 14:20] sprider commented on #17
Sure, Vesa.

Thank you.

[2017-07-09 22:00] v-jain opened #27 "Not able to run the sample code"
## Not able to add webpart

#### Category
- [ ] Question

#### Observed Behavior

As mentioned to test extensions, we need to run npm install at tutorial directory. But there is no package.json file due to which unable to install modules.
When running [Field-Extension Tutorial](https://github.com/SharePoint/sp-dev-fx-extensions/tree/master/tutorials/field-extension) sample not able to see add any

[2017-07-10 00:36] BassemNKhalil commented on #27
Looks like you're trying to test with the workbench. SharePoint Framework extensions are currently available from Office 365 developer tenants only and cannot be tested using the local workbench

[source](https://dev.office.com/sharepoint/docs/spfx/extensions/get-started/build-a-hello-world-extension)

[2017-07-10 05:00] v-jain commented on #27
Thanks Bassem, I have tried with Office trial subscription for 1 month. It does not load load anything,
went through few url's got this guy also have the same issue as I have.

####https://github.com/SharePoint/sp-dev-docs/issues/640

Is my subscription has anything to do with this ?

[2017-07-10 12:48] BassemNKhalil commented on #27
Yes it does. You need a developer tenant not a production tenant. Trial
ones are production tenants and Microsoft hasn't rolled out the extensions
to that yet. You can use the following link (
https://dev.office.com/devprogram) to register for 1 year free developer
tenant.
On Mon, 10 Jul 2017 at 3:00 pm, v-jain <notifications@github.com> wrote:

[2017-07-10 18:20] shajivenugopal opened #29 "Error when running extensions samples"
When running the extension samples for Application customizer.  I get the following error.  Error details: Error: Killswitches are not initialized. Killswitch requested: 19a3ca15-2aa2-4b0d-a563-4fbee7d77208

I have tried the Hello World extensions and that was working previously, but now has stopped working.  Is this has anything to do with the extension being in dev preview?

Steps to Reproduce
-

[2017-07-14 10:39] VesaJuvonen commented on #29
We have not changed the extension situation, but would double check that you are using developer tenant. It's important to use actual developer tenant, since using developer site collection in first release tenant is not enough making them work.

[2017-08-10 12:28] VesaJuvonen commented on #29
Are you still having issues around the sample in developer tenant?

[2017-08-10 12:29] VesaJuvonen commented on #27
I'm assuming that @BassemNKhalil  took care of this (thx) and closing the issue for now. Let's continue discussion, if needed.

[2017-08-10 12:29] #27 closed

[2017-08-10 12:30] VesaJuvonen commented on #16
I'm assuming that @waldekmastykarz 's answer took care of this issue due no additional input. If that's not the case, please let us know. I'll close this one for now.

[2017-08-10 12:30] #16 closed

[2017-08-21 06:12] VesaJuvonen commented on #29
Hi @shajivenugopal, closing this due no response within 10 days. Please reopen or submit a new one with additional details, if you are still having this issue.

[2017-08-21 06:12] #29 closed

[2017-08-21 13:24] AnassKartit opened #35 "Commanding in Sharepoint Document Library in a modern page"
- [ ] Question

How can I create a modern webpage with an document library that has commanding toolbar?

[2017-08-23 07:24] tavikukko opened #36 "Application Customizer and search index"
#### Category
- [x ] Question
- [ ] Bug
- [ ] Enhancement

Will the Application Customizer in PageHeader placeholder get indexed as a content? Meaning if we store some custom metadata there, can we use search to look for the page?

[2017-08-23 09:22] VesaJuvonen commented on #36
Hi Tomi,
would suggest resubmitting this to sp-dev-docs issue list, since that's the right place for miscellaneous questions. We do sync that to VSO and have dedicated people on addressing those issues. Question is good and can't answer that 100% directly - so will close this and hopefully you can resubmit to https://github.com/SharePoint/sp-dev-docs/issues. Thx.

[2017-08-23 09:22] #36 closed

[2017-08-23 09:27] VesaJuvonen commented on #35
Not at least for the moment. There's work being done on the document library web part - which is kind of the classic list view / library web part, but at least right now there's no support for toolbar in here. Could be coming later based on demand.

[2017-08-23 09:27] #35 closed

[2017-08-30 13:42] shakykhan opened #44 "Cannot find module '@microsoft/node-core-library'"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ ] Bug

#### Expected or Desired Behavior
Solution should build successfully. Already setup my dev machine and tested webpart on dev machine workbench and S

[2017-08-30 19:12] VesaJuvonen commented on #44
Hi @shakykhan, to be able to understand what goes wrong, we'd need to understand also what version of the SPFx you are using and what kind of solution you created. In general, we try to drive all general SPFx issues towards https://github.com/SharePoint/sp-dev-docs/issues list, which is automatically synced to our VSO task lists... this means that you will have much faster support by entering this

[2017-08-30 19:12] #44 closed

[2017-10-04 03:15] esutantya opened #56 "SPFX Extensions FieldCustomizers onRenderCell not called when navigating"
#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

I'm trying out the SPFx Extensions Field Customizer, following this guide https://docs.microsoft.com/en-us/sharepoint/dev/spfx/extensions/get-started/building-simple-field-customizer

#### Expected or Desired Behavior
Successfully applied the percentage field customizer. when accessing nested item inside folder, the nested item should be re

[2017-10-11 10:20] martinlingstuyl opened #59 "How to localize Command Sets?"
#### Category
- [x] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Question
How do we localize Command Sets? I noticed there is an **id** property on the items object in the manifest file, which has the following description:

![image](https://user-images.githubusercontent.com/5267487/31431451-12e96100-ae74-11e7-8a6e-e3ca9ccbdc0f.png)

1. If I use the expression as in the screen

[2017-10-11 11:15] martinlingstuyl commented on #59
I dug a little deeper, and it seems this localizing Command Sets in this manner is not yet implemented, or forgotten all about.

In a file named listview-host-assembly-[locale]_[hash].js the commandslist is loaded from the spfx extension manifest.

**While the manifest file neatly contains our localized resources:**
![image](https://user-images.githubusercontent.com/5267487/31437577-089bc668-ae86-

[2017-10-11 11:21] martinlingstuyl commented on #59
So basically we're currently stuck with a workaround like this:

[code]
...which would force us to name resource properties after our command id's (in this case COMMAND_1, COMMAND_2)

[2017-10-11 12:59] VesaJuvonen commented on #59
thx Martin, since this is a potential bug in the SPFx, would suggest using Issues list in https://github.com/SharePoint/sp-dev-docs/issues. which is our main channel for getting these kinds of potential issues known... and is getting synced to VSO automatically. I'll close this from here but would suggest to re-open in the right location so it gets the needed attention. I do apologize for the addi

[2017-10-11 12:59] #59 closed

[2017-10-11 13:01] martinlingstuyl commented on #59
I understand. It began as a question regarding specific extension, so I filed it here. I'll refile it in the correct issues list.

[2017-10-11 13:23] martinlingstuyl commented on #59
And there it is, for the sake of progeny: [https://github.com/SharePoint/sp-dev-docs/issues/922](url)

[2017-10-16 15:41] seaSide974 opened #63 "Extension showing when using debug url but not when deployed using .sppkg"
#### Category
- [ ] Question
- [ ?] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Hi, Ive built an spfx extension, i started from jquery application toastr to build my code. This was working 👍

Ive tested using the url ?loadSPFX=true&debugManifestsFile=https://localhost:4321/temp/manifests.js&customActions={"a861c815-e425-416d-9520-04bcdf557e27":{"location":"ClientSideExtension.Applicat

[2017-10-17 06:55] waldekmastykarz commented on #63
Have you checked the if the browser is loading your new script? You can confirm that using the Network tab of the developer tools in your browser.

[2017-10-17 07:01] seaSide974 commented on #63
Hi, thanks waldek for your answer.
I dont see them. Could it be due to a wrong url as CDN Path ? Or files not published in my cdn library ? Ill double check

For info, once loaded I shall have a div <div id="megamenu"> loading in the breadcrumb.

[2017-10-17 07:10] seaSide974 commented on #63
element.xml is missing !

[2017-10-17 07:21] waldekmastykarz commented on #63
@seaSide974 great that you could find it. To enable the extension on a site you need either a Feature with element.xml or use remote provisioning such as the PnP Provisioning Engine. Please note also, that using Features doesn't work in combination with tenant-wide deployment.

[2017-10-17 07:21] waldekmastykarz commented on #63
If you don't have any further questions please feel free to close this issue 🙂

[2017-10-17 07:26] seaSide974 commented on #63
Ill try and let you know the outcome, if that is the cause, could

gulp bundle --ship
gulp package-solution --ship

Notify such problem ?

By the way it was not here by default when i followed the tutorial from scratch (https://docs.microsoft.com/en-us/sharepoint/dev/spfx/extensions/get-started/serving-your-extension-from-sharepoint) , neither in the pnp project https://github.com/SharePoint/sp-de

[2017-10-17 07:47] seaSide974 commented on #63
I did the modification, it is still not working.
I pushed my last code in https://github.com/seaSide974/spfxmega/blob/master/sharepoint/assets/elements.xml

[2017-10-17 07:48] waldekmastykarz commented on #63
Could be indeed. When you choose to allow tenant-wide deployment when creating the project, the file isn't created

[2017-10-17 07:49] waldekmastykarz commented on #63
Could you try creating a new project and see if it's working there? Then you can compare the differences between the two projects to more easily see what's wrong/missing.

[2017-10-17 07:59] seaSide974 commented on #63
Sure, ill try to set "skipFeatureDeployment": true, too

[2017-10-17 08:34] seaSide974 commented on #63
I compared and did not find anything wrong.
Actually i think i never deployed to Office 365 using this solution : https://github.com/SharePoint/sp-dev-fx-extensions/tree/master/samples/jquery-application-toastr/sharepoint

[2017-10-17 08:45] seaSide974 commented on #63
Ok i solve the issue by :
1. Create elements.xml
2. Modify the package-solution.json

As specified in this tutorial : https://docs.microsoft.com/en-us/sharepoint/dev/spfx/extensions/get-started/serving-your-extension-from-sharepoint

I hope in future, the steps to deploy will be easier and warn in case we missed something !

Thank you

[2017-10-17 08:54] #63 closed

[2017-10-26 07:21] VesaJuvonen commented on #56
Hi @esutantya, could you resubmit this to the sp-dev-docs issue list, which we use for tracking incoming questions and also replicate to our VSO item tracking? - https://github.com/SharePoint/sp-dev-docs/issues. We use that for generic questions and input around the SPFx and are tracking that closely. Other issue lists should only contain potential issues around provided samples in that repository

[2017-10-26 07:21] #56 closed

[2017-10-26 08:11] esutantya commented on #56
Hi @VesaJuvonen,

Thanks for your reply,
Actually my team has submitted Microsoft support ticket to investigate this and they has fixed it on production as per today.

The issue is related to the dispose object failure within knockout.js. The knockout.js is a symptom. The main issue is related to the react.js failed to unmount Component object lead to object render failure.

They have enhanced the

[2017-10-26 08:25] VesaJuvonen commented on #56
Well - They = our team. Curious on any details around this. Potentially in an email or support ID, so that we ensure that our documentation etc. is also up to date. Would like to understand who from engineering was involved.

[2017-10-26 08:41] esutantya commented on #56
Hi  @VesaJuvonen
they = microsoft support team, the SR number is 117101916521940

[2017-10-26 13:06] VesaJuvonen commented on #56
Thx Eric, will have a look to ensure that we are up to date. Meaning of "They = our team" was that if there was actually any changes done in the SPFx side for this, that was done by our engineering team (a team where I'm included). MS support does not apply any changes to the code, that's being done by engineering. Thanks for sharing the SR number, this is enough for me to move forward.

[2017-11-02 05:07] ravinleague commented on #13
Hi,

We currently are using the ListView command on our modern sharepoint sites. When we select the list items, we are intercepting a export to excel functionality. While everything is working as expected, we were not able to export the fields just on the listview page. the event.selectedrows is giving us all columns (internal and custom). How do we configureit to just get those fields that are vi

[2017-11-05 15:35] SumeshKashyap opened #69 "Issue in js-application-analytics code while installation"
[BUG]

Dear Team,

I am having the unexpected behavior while running npm install command for the solution js-application-analytics. It gives me error 404 not found for a while. I assumed this might be due to old version installed on my laptop but that is also not the case as I updated SharePoint templates.
Other Solutions in the same git repository are working fine for me.
I am attaching the log f

[2017-11-05 17:33] giuleon commented on #69
Hi Sumesh,

Thanks for your feedback, I just tried and everything works fine, no error after the command npm install, please try to delete the solution and re-clone it, after launch **_npm cache clean_** and finally **_npm install_**.

Please let me know.

Kind regards,
Giuliano De Luca

[2017-11-06 00:09] SumeshKashyap commented on #69
Thanks Giuliano :)
Unfortunately it did not worked.
However I tried installing package of microsoft decorator as hinted by error message, it fixed the partial issue but I am still not able to install the solution due to package dependencies, I guess I should follow this [article  ](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/toolchain/update-latest-packages )and then come back to you if i

[2017-11-06 07:09] giuleon commented on #69
you are welcome.

This should solve your issue, in any case let me know.

[2017-11-08 22:00] mhintner opened #71 "SPComponentLoader error in SPFx application extension"
#### Category
- [ ] Question
- [x ] Bug
- [ ] Enhancement

I'm using SPComponentLoader to load SP.js and other files in a SPFx application extension. This works fine, if the extension is loaded on the start page of a web. But as soon as the extension is loaded on e.g. a document library (/Shared Documents/Forms/AllItems.aspx), the SPComponentLoader produces an unknown error when loading module.
Th

[2017-11-10 14:29] devfunda3 opened #72 "Global menu from loads from Term Store and but renders the menus as text without href - so unable to click through"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [x] Bug

#### Expected or Desired Behavior
The global menu loads up from term store and when clicked, the menu links should redirect the user to the appropri

[2017-11-22 16:19] yvonne70 opened #73 "react-application-tenant-global-navbar - is removed after using the search page"
react-application-tenant-global-navbar
Category - Bug

Expected or Desired Behavior
The navbar is still visible on the page after the user navigates back from using the search page.

Observed Behavior
The Nav Bar disappears from the page when I navigate back from using the search page (new experinence).

Steps to Reproduce

- Search in the left hand search box and click on 'Show more results'

- Y

[2017-11-23 14:00] Saulius-Laurinaitis opened #74 "Question about extension behavior on modern route change"
Hi,
I have interesting use case - I'm using extensions for notifications to show some message to the user which is working fine when I do standard redirect to the page and extension is reloaded, but when I click on the link to redirect to other page in the same site then extension remains and only page content is reloaded which is expected with react (modern) routing, but I would like to call my f

[2017-11-30 09:35] Megamannen opened #76 "Field Customizer isn't initialized on new rows in a Document Library (possible other list types also)"
#### Category
- [ ] Question
- [X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
When uploading a new file to a Document Librarary that uses SPFX Field Customizer Extension we expect the new item to also get the Field Customizer and that they are initialized.

#### Observed Behavior
Right now the default behaviour of the column is removed but the Field Customizer isn't added

#### Steps

[2017-11-30 12:45] jykoning opened #77 "Tenant Global NavBar Application Customizer > Deployment > TenantGlobalNavBarProvisionCustomizer.ps1"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ ] Question
- [ ] Bug
- [x] Enhancement

#### Expected or Desired Behavior
Simple addition: I was searching for a way to remove the application customizer o

[2017-12-05 18:34] luis-ribeiro opened #81 "Extension not loading/rendering after site page "modern redirecting""
#### Important

Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ x] Question
- [ x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Extension should load/render when navigating/"modern redirectin

[2017-12-22 22:35] maliksahil opened #83 "SPFx Commandset title not changing"
#### Important

Use the following form to submit an issue only if it's related to samples in this repo. If you have an issue related to the SharePoint Framework or its documentation, please submit the issue at [https://github.com/SharePoint/sp-dev-docs/issues/new](https://github.com/SharePoint/sp-dev-docs/issues/new). This will help us respond to your issue faster.

----

Thank you for reporting a

[2017-12-23 06:29] #83 closed

[2017-12-23 09:10] VesaJuvonen commented on #81
This issue was moved to SharePoint/sp-dev-docs#1178

[2017-12-23 09:10] #81 closed

[2017-12-23 09:10] VesaJuvonen commented on #81
Since this is a generic issue around SPFx, moved the issue to correct repository.

[2017-12-23 09:11] VesaJuvonen commented on #76
This issue was moved to SharePoint/sp-dev-docs#1179

[2017-12-23 09:11] #76 closed

[2017-12-23 09:12] VesaJuvonen commented on #76
Moving issue to right repository, since this seems to be a potential generic SPFx bug and not related on any samples in this repository.

[2017-12-23 09:13] VesaJuvonen commented on #71
This issue was moved to SharePoint/sp-dev-docs#1180

[2017-12-23 09:13] #71 closed

[2017-12-23 09:13] VesaJuvonen commented on #71
Moving issue to right repository, since this seems to be a potential generic SPFx bug and not related on any samples in this repository.

[2017-12-23 09:14] VesaJuvonen commented on #74
This issue was moved to SharePoint/sp-dev-docs#1181

[2017-12-23 09:14] #74 closed

[2017-12-23 09:14] VesaJuvonen commented on #74
Moving issue to right repository, since this seems to be a potential generic SPFx bug and not related on any samples in this repository.

[2017-12-23 16:25] NPrice99 opened #84 "The Readme Instructions need Updating to 1.4.0"
#### Important

Use the following form to submit an issue only if it's related to samples in this repo. If you have an issue related to the SharePoint Framework or its documentation, please submit the issue at [https://github.com/SharePoint/sp-dev-docs/issues/new](https://github.com/SharePoint/sp-dev-docs/issues/new). This will help us respond to your issue faster.

----

Thank you for reporting a

[2017-12-24 04:47] NPrice99 opened #85 "DEployment instructions for react-application-regions footer reference wrong package"
#### Important

Use the following form to submit an issue only if it's related to samples in this repo. If you have an issue related to the SharePoint Framework or its documentation, please submit the issue at [https://github.com/SharePoint/sp-dev-docs/issues/new](https://github.com/SharePoint/sp-dev-docs/issues/new). This will help us respond to your issue faster.

----

Thank you for reporting a

[2018-01-02 20:01] patrickabel opened #88 "Mobile/Responsive Support for React Global Navigation SPFx Extension solution?"
#### Category
- [X] Question
- [ ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
I am working with the [React Global Navigation SPFx Extension](https://github.com/SharePoint/sp-dev-fx-extensions/tree/master/samples/react-application-tenant-global-navbar) in this repo. I've noticed that when on a mobile device or within a very narrow browser, the navigation disappears instead of being co

[2018-01-05 15:33] VesaJuvonen commented on #84
Hi @NPrice99, this really depends if the solution has been updated to the 1.4 version and how the settings have been set in the package-solution.json. You did not mention which readme you are referring here, so could not double check the situation or fix potentially things, so would request additional details.

[2018-01-05 15:37] VesaJuvonen commented on #85
Thx Nigel, fixed now to https://github.com/SharePoint/sp-dev-fx-extensions/blob/dev/samples/react-application-regions-footer/README.md.

[2018-01-05 15:37] #85 closed

[2018-01-09 19:59] dadanepal opened #90 "react-application-tenant-global-navbar Styling and Mobile support"
#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Navigation should have the same design UI regardless of what page it is on and should work for mobile.

#### Observed Behavior

1. If you go to any page that has the OOB CommandBar ie. **"/Shared%20Documents/Forms/AllItems.aspx"** the navigation color is different.
2. On pages where OOB CommandBar is not pr

[2018-01-10 11:54] GwSoJ opened #91 "Just doesn't work"
Sample: Global Navbar.
Sorry but this doesn't deploy like any other extension I've used. I've copied over the files and published the package all successfully but adding the app to any site does nothing. It works perfectly in debug mode. What am I missing? Incidentally the ps1 script doesn't work either.

#### Category
- [ ] Bug

#### Expected or Desired Behavior
Same as debug mode

#### Observed

[2018-01-20 11:27] KrisJanssen commented on #91
I have recently picked up this repo to get acquainted with SPFx development.

Using another example in the set,[ js-field-weather](https://github.com/SharePoint/sp-dev-fx-extensions/tree/master/samples/js-field-weather), I encountered what I think are similar issues to yours.

There seem to be distinct differences between SP2016 and SP Online in terms of required versions for dependencies, as outl

[2018-01-22 09:32] GwSoJ commented on #91
Hi Kris,

Thanks for the mail and the suggestion. Unfortunately I've tried all of that and I get no error on the console. There never was an error in my package. All my packages are up to date and current. Not sure where to go with it now to be honest.

Gw.

[2018-01-22 09:32] #91 closed

[2018-01-26 08:22] #72 closed

[2018-01-26 08:22] devfunda3 commented on #72
Not an issue.

[2018-01-26 09:12] devfunda3 opened #96 "Security Trimming for the react-application-tenant-global-navbar SPFx menu"
#### Category
- [x] Question
- [ ] Bug
- [x] Enhancement

#### Expected or Desired Behavior
I am using the https://github.com/SharePoint/sp-dev-fx-extensions/tree/master/samples/react-application-tenant-global-navbar extension in the production environment and it is working really well. So a big thank you first for the extension code.
It would be great if the menus are security trimmed similar to

[2018-01-26 09:17] devfunda3 commented on #96
I asked this question at yesterday's MS Tech Summit in Birmingham and a SharePoint specialist said it would be best to reach out to @VesaJuvonen to get a quick reply - so here goes.

[2018-02-02 15:14] bubbleswap opened #99 "Unable to delete app from site recycle bin"
#### Category
- [x] Question
- [x] Bug
- [ ] Enhancement

#### Observed Behavior
When a spfx extension app is deleted, it goes to the recycle bin (with 0 kb). I'd go to the recycle bin to delete the extension app again, and would receive this error message:

This happens on multiple site collections, as well as with **spfx web part app**.

After an app is deleted, when I re-add the app (usually wi

[2018-02-02 19:22] bubbleswap commented on #99
I can delete web part and extension apps from recycle bin now...and the fix? ***pulls hair***

**Use modern recycle bin.**

But there's a catch, if the app was deleted in classic mode (which SPO only allows apps to be deleted in classic mode), and you then go to the recycle bin, the recycle bin is also in classic mode. _There's no "exit classic experience" in recycle bin_ either.
![image](https://

[2018-02-02 19:22] #99 closed

[2018-02-06 16:16] nhadro commented on #88
Did this issue get resolved or did you find a work around for it?

[2018-02-06 19:35] nhadro commented on #90
Is someone working on this?

[2018-02-08 13:57] knalbandianbrightgrove opened #102 "Errors in console 'helloWorld'"
#### Important

No matter if you use sample or try to generate extension from scratch

#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior

No errors in console when run `gulp serve`

#### Observed Behavior

![2018-02-08_1553](https://user-images.githubusercontent.com/26867723/35976667-84de69bc-0ce9-11e8-9714-b60224c79044.png)

#### Steps to Reproduce
1. Clo

[2018-02-08 15:30] knalbandianbrightgrove commented on #102
Sorry for disturbing, can be closed! That was my local issue

[2018-02-08 15:30] #102 closed

[2018-02-12 22:25] grahampasmurf opened #103 "My Favourites adds div tag to Description and hyperlink"
#### Category
- [x] Bug

#### Expected or Desired Behavior
In My Favourites, when displaying or editing an item, the Description field should show plain text, and selecting the hyperlink opens the page in the browser.

#### Observed Behavior
The Description field shows the text inside a div tag.  Example - `<div class="ExternalClass329AE126306642329FD1F51BD5071352">Test2</div>`

When clicking the

[2018-02-20 20:00] LouFarho commented on #84
@VesaJuvonen How does one know if it has been updated or needs to be updated to 1.4
I am looking at this sample:
https://github.com/SharePoint/sp-dev-fx-extensions/tree/master/samples/react-application-tenant-global-navbar

I see steps in the instructions which I don't understand since i am newer to this.
in the deployment section:
Publish the solution on any hosting environment or CDN and update

[2018-02-20 20:31] grahampasmurf commented on #103
I resolved the issue.  To fix, I edited the list columns for Description and ItemUrl and made sure that the setting "Specify the type of text to allow" was set to "Plain text."  It had defaulted to "Enhanced rich text."

The instructions to manually create the list did not mention that setting.  It said to make it of type "Multiple lines of text" but it did not specify any changes to what type of

[2018-02-21 16:38] sakhradam opened #107 "Announcement Extension is not working ? I tried to install it in modern site and nothing showed up?"
#### Category
- [x] Question
- [ ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
_If you are reporting a bug, please describe the expected behavior. If you are suggesting an enhancement please describe thoroughly the enhancement, how it can be achieved, and expected benefit._

#### Observed Behavior
_If you are reporting a bug, please describe the behavior you expected to occur when per

[2018-02-26 09:53] infradsm opened #109 "Enhancement request for the react-application-breadcrumb samples"
#### Category
- [ ] Question
- [ ] Bug
- [x] Enhancement

#### Module
React-Application-BreadCrumb

#### Desired Behavior
Able to show the folder structure inside a document library

#### Observed Behavior
Currently, only the site name, doclib or list name will be used to compose the breadcrumb.

#### Steps to Reproduce
1.  create a folder/subfolder in a document library, and navigate into it
2.

[2018-02-26 15:31] spplante opened #110 "Documented this.context.placeholderProvider does not exist"
#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
As documented [here](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/extensions/get-started/using-page-placeholder-with-extensions), **this.context.placeholderProvider** must be used in order to create content within a page placeholder.

#### Observed Behavior
After creating a ListCommandSet extension

[2018-03-01 05:23] roncourville commented on #99
That's a pretty creative resolution there!

I'm facing the same issue currently but haven't got the modern layouts enabled for the current site. Has anyone found an alternative fix for this?

[2018-03-01 22:31] roncourville commented on #99
I was eventually able to find a solution on my end as well. Turns out that if you go to the site collection level recycle bin, then the app package file appears there, and I WAS able to delete from there. I believe that I still did get an error message on deleting from the site collection level, but the actual deletion action from the recycle bin did work anyway.

After I was able to successfully

[2018-03-08 08:35] ynotlim commented on #88
Looking or solutions as well.  Did you figure out a way?

[2018-03-08 14:23] nhadro commented on #88
I never found a way to do it so I went with a bootstrap nav for now.  It's not ideal, but I couldn't wait for this to get resolved.

[2018-03-13 18:46] grahampasmurf opened #111 "typo in documentation for sample "Modern Team Sites" customizer"
#### Category
- [ ] Question
- [X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
The instructions on one of the samples should be this:
gulp serve --nobrowser

but there is a typo that will confuse those not familiar with gulp commands.

#### Observed Behavior
Running "gulp server --nobrowser" results in the error,
"Task 'server' is not in your gulpfile"

#### Steps to Reproduce
Go to t

[2018-03-14 13:12] veeramanx opened #112 "Error when running extensions : Killswitches are not initialized"
I am getting an following error while running application cutomiser extension

ERROR:
Killswitches are not initialized. Killswitch requested: aca19dad-e178-47bd-882e-5633af7b7ff0

can you let me know what is it?

[2018-03-14 15:35] jcosta3394 commented on #29
Hi @VesaJuvonen! I'm experiencing the same issue when running a vanilla SPFx Extension ever since the latest update of the framework (v1.4.1). I am unable to run a completely empty project.

[2018-03-14 18:16] jcosta3394 commented on #112
I'm getting the same error, I started removing sections of my project and nothing seemed to work until I finally just **started a new vanilla extension**, ran gulp serve **and the same error was still there**.

Here's the full log:

ERROR:
Killswitches are not initialized. Killswitch requested: aca19dad-e178-47bd-882e-5633af7b7ff0

CALL STACK:
Error: Killswitches are not initialized. Killswitch re

[2018-03-15 10:34] jcosta3394 commented on #112
I just noticed this morning that the problem seems to have been fixed, thanks!

[2018-03-15 11:17] ynotlim commented on #88
@PaoloPia hi Paolo, great sample.  Do you have any idea how to resolve this issue?  Thanks!

[2018-03-15 18:28] tdwhite0 commented on #112
This problem is showing up for me today.

[2018-03-15 18:33] jcosta3394 commented on #112
The problem is back, are you guys working on a new build atm?

[2018-03-16 00:27] clechner77 opened #113 "Global Navigation example often loads everything in overflow menu (ellipsis)"
#### Category
- [ ] Question
- [X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
When a command bar is used in the top placeholder, it should show all menu items and the overflow menu when there is enough width available.

#### Observed Behavior
Often the command bar will load to 100% width but for some reason the entire menu is placed within the overflow menu and hidden in an ellipses.

[2018-03-16 10:26] MNaujoks commented on #29
Hi @VesaJuvonen! I got this issue too, while trying to debug an SPFx Extension.
I´m also using the most recent Version of the Framework (1.4.1).

[2018-03-16 15:02] VesaJuvonen commented on #69
Closing as answered.

[2018-03-16 15:02] #69 closed

[2018-03-16 15:09] VesaJuvonen commented on #73
As this is a generic issue and not specific to the samples, will close this from here. This is a duplicate of https://github.com/SharePoint/sp-dev-docs/issues/1042, which should be resolved soon.

[2018-03-16 15:09] #73 closed

[2018-03-16 15:10] VesaJuvonen commented on #77
thx Jan-Ype for sharing. I'll close this issue though as it's not really an issue or anything we can act on.

[2018-03-16 15:10] #77 closed

[2018-03-16 15:15] VesaJuvonen commented on #84
@LouFarho - Hopefully things are now clearer, but if not - feel free to open up an issue. If your issue is generic and not towards any specific sample, would recommend opening it at http://aka.ms/spdev-issues.

@NPrice99 - Closing this for now due to no response to my question.

[2018-03-16 15:15] #84 closed

[2018-03-16 15:27] majidgorbani commented on #29
Hi,
same here "Killswitches are not initialized. Killswitch requested"

[2018-03-16 15:51] veeramanx commented on #112
Hi, i also have the same issue today

[2018-03-16 16:41] patrickabel opened #114 "Tracking Page Views on Navigation Changes (js-application-appinsights sample)"
I have a solution similar to the [js-application-appinsights](https://github.com/SharePoint/sp-dev-fx-extensions/tree/master/samples/js-application-appinsights) sample which uses a spfx extension (application customizer) to inject [Azure Application Insights](https://azure.microsoft.com/en-us/services/application-insights/) on modern SharePoint pages.

However, I have noticed that this current sam

[2018-03-16 16:46] mpasarin commented on #112
Thank you for your feedback.

I have a few questions about this problem that could help us investigate.
Does this problem happen using application customizers on pages, lists, or
both?
If it's on pages, are you trying with an empty page, or a page with web
parts?
What does the extension do? Or are you just trying the code that just comes
from the Yeoman generator?

On Fri, Mar 16, 2018, 08:51 veer

[2018-03-16 16:46] VesaJuvonen commented on #29
@jcosta3394 - could you report this as an isolated issue and provide also the version details from your environment. OS and version details around node and npm. Thx.

[2018-03-16 16:46] VesaJuvonen commented on #29
@MNaujoks  - could you report this as an isolated issue and provide also the version details from your environment. OS and version details around node and npm. Thx.

[2018-03-16 16:46] VesaJuvonen commented on #29
@majidgorbani  - could you report this as an isolated issue and provide also the version details from your environment. OS and version details around node and npm. Thx.

[2018-03-16 16:47] VesaJuvonen commented on #29
Please submit any generic SPFx issu to http://aka.ms/spdev-issues, so that we get it tracked using official channels. Thx. This issue list is for issues only on the samples in this repository. Thx.

[2018-03-16 17:19] jcosta3394 opened #115 "Extension throwing error: Killswitches are not initialized"
When performing "gulp serve" on a new empty extension (app customizer) an error is thrown:

Killswitches are not initialized. Killswitch requested: aca19dad-e178-47bd-882e-5633af7b7ff0
CALL STACK:
Error: Killswitches are not initialized. Killswitch requested: aca19dad-e178-47bd-882e-5633af7b7ff0
    at Function.e.isActivated (https://spoprod-a.akamaihd.net/files/sp-client-prod_2018-03-02.016/sp-co

[2018-03-16 17:22] #115 closed

[2018-03-19 20:15] spplante opened #116 "ListViewCommandSet not showing anything in SPO"
#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
When building a **ListViewCommandSet** extension using the latest yeoman generator's default configurations with the following commands :

- gulp bundle --ship
- gulp package-solution --ship

And we deploy the resulting **.sppkg** file to the app catalog, and we install the app on a site, we should see the

[2018-03-20 08:26] ynotlim commented on #88
The mobile view is hidden on on site pages because the commandbar is disabled so users don't edit pages in mobile view.  Changing the classname to ms-commandbar-2 temporarily in dev mode fixes it but not sure how I can change it permanently.

[2018-03-20 10:50] veeramanx commented on #112
Hi mpasarin,
the problem happening using application uctomiser on pages. I am trying on both empty page and with webparts.
I am trying to check if user page exist or not.

[2018-03-20 15:14] spplante commented on #116
Finally found the problem. The main issue was totally my fault : The **elements.xml** was configured the run on list templates **100** and not **101**, causing the extension to appear only on lists and **not** on document libraries.

Now the reason why it took me so long to realize this is because of what looks like a bug in my opinion : The whole time I was debugging the extension while developin

[2018-03-20 15:14] #116 closed

[2018-03-20 16:45] mpasarin commented on #112
This is caused by a problem on our side in the last version. We are working
on a fix and it should be rolled out pretty soon.

In the meantime, please use lists to debug your application customizers, as
they are not affected by this problem.

On Tue, Mar 20, 2018, 03:50 veeramanx <notifications@github.com> wrote:

[2018-03-20 17:20] veeramanx commented on #112
ok thanks mpasarin.

[2018-03-20 20:32] mpasarin commented on #112
Actually the fix was being rolled out as I replied in the thread. It should
be working now.

On Tue, Mar 20, 2018 at 10:20 AM veeramanx <notifications@github.com> wrote:

[2018-03-21 11:59] VesaJuvonen commented on #110
this.context.placeholderProvider is exposed by ApplicationCustomizerContext, which is exposed from BaseApplicationCustomizer. Referenced documentation or tutorial was also around the application customizers.

These properties are not available through ListCommandSet extension, so the lack of the property is as designed.

Notice that as this is not an issue related on the samples in this repository

[2018-03-21 11:59] #110 closed

[2018-03-21 12:01] VesaJuvonen commented on #111
Fixed to readme. Thx for reporting.

[2018-03-21 12:01] #111 closed

[2018-03-21 12:05] VesaJuvonen commented on #112
Hi @veeramanx, @jcosta3394 or @tdwhite0, we would appreciate an acknowledgment that you don't see this issue anymore so that we can close this issue.

In general, when you find any potential issues on SPFx in general (not on samples), we recommend to report them at http://aka.ms/spdev-issues, so that your issue will be processed as fast as possible. That is the centralized issue list for SP dev to

[2018-03-21 12:08] jcosta3394 commented on #112
Hi @VesaJuvonen, I apologize for the late reply. Yes, the issue seems to be fixed, thank you!

[2018-03-21 12:18] VesaJuvonen commented on #112
thx José, appreciated. Closing this from here.

[2018-03-21 12:18] #112 closed

[2018-03-21 15:03] spplante commented on #110
Thanks Vesa, I managed to figure this one out after more tests more completely forgot I had this issue opened, my bad. Thanks again!

[2018-03-25 08:21] gristy58 commented on #113
Hi,
I have exact same issue, any fixes?

[2018-03-25 08:24] gristy58 opened #118 "Tenant Global Nav Bar overflow menu not working"
#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
When overflow menu is used the links no longer work.

#### Observed Behavior
When menu overflows the menu items are rendered but not clickable. How do i fix this?

#### Steps to Reproduce
Make screen small to cause overflow

[2018-03-25 21:43] clechner77 commented on #113
Nope, not yet.  It's unfortunate because it work amazing otherwise.

[2018-03-25 21:44] gristy58 commented on #113
Thanks Clint

I ended up implementing a different menu in the end last night.

On Mon, 26 Mar 2018 at 8:13 am, Clint Lechner <notifications@github.com>
wrote:

--
Regards

Chris Grist

[2018-04-03 11:55] Naveenrerd opened #121 "ListView command button is not working dynamically based on REST async call"
#### Category
- [x] Question
- [ ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
I would like to add a list view command set button dynamically based on the selected row

#### Observed Behavior
The button is not being shown/hidden dynamically

#### Steps to Reproduce
I'm using @microsoft/sp-listview-extensibility. I used the tutorial from [link](https://docs.microsoft.com/en-us/sharepoi

[2018-04-04 16:39] OmniFace commented on #114
We use the app-extensions "navigatedEvent" callback.  When moving between document or list library pages, this is triggered and can be used to reset your code.  Unfortunately, this is not triggered when doing a search, or returning to the home page.  Not sure if that is a bug or expected behavior at this point.

[code]

[2018-04-09 03:32] patrickabel commented on #114
@OmniFace if you look at the sample I referenced, using this event callback isn't possible with the way that the AAI web-tracking code is being injected into the site. I'm really just looking for some guidance on how the Google Analytics and AAI samples can be leveraged/adapted given the changes to how the DOM loads/re-loads when navigating within a site.

[2018-04-09 16:25] arunvinoth opened #124 "Command set extension only showing up when gulp serve is running"
## Category

- [x] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior
Am following [this article](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/extensions/get-started/building-simple-cmdset-with-dialog-api), and developed a command set. Deployed in my site collection, and able to see the commandset for my List. Step 6 says I have to run `gulp serve --nobrowser`  & its wor

[2018-04-09 21:15] arunvinoth commented on #124
I guess I need to follow [this article](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/extensions/guidance/migrate-from-ecb-to-spfx-extensions#enable-the-cdn-in-your-office-365-tenant) once the steps are completed, it may work as expected.. May be link at the bottom of this article will help us to see the holistic picture.

[2018-04-10 01:46] spcrux opened #125 "react-application-tenant-global-navbar Menu disappears after navingating to _layouts/15/search.aspx"
Configured  react-application-tenant-global-navbar on communication site. In the menu, one menu items takes to _layouts/15/search.aspx. One the home page of the site, when clicked on search menu item, search page will open. Clicking back button to go to earlier page takes back to site home page however, menu is not shown on the page.

## Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

## Expe

[2018-04-10 01:51] spcrux commented on #125
Tested with new search experience where there's Exit Search link on right left top corner. It works as expected so closing the issue.

[2018-04-10 01:51] #125 closed

[2018-04-10 22:10] thsdev commented on #96
Any guidance or solution as to security trimming the navigation elements in the react-application-tenant-global-navbar SPFx project?

[2018-04-17 18:25] luismanez commented on #124
I think you also will need to have a look into this one:
https://docs.microsoft.com/en-us/sharepoint/dev/spfx/extensions/get-started/serving-your-extension-from-sharepoint

basically you need to Deploy your spfx extension into SP, that means not only what you're saying in your last link, but also to register the ListView command set to a SP List (in my link, also you will need to set the proper "l

[2018-04-22 07:51] varun5585 commented on #118
Comment the itemType in the projectMenuItem function would fix the overflow issue

` private projectMenuItem(menuItem: SPTermStore.ISPTermObject, itemType: ContextualMenuItemType) : IContextualMenuItem {
      return({
        key: menuItem.identity,
        name: menuItem.name,
        //itemType: itemType,
        iconProps:{ iconName: (menuItem.localCustomProperties.iconName != undefined ? menu

[2018-04-26 09:20] mcowley5 opened #127 "ListView Commands dont render in Edge"
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior

When using Microsoft Edge the ListView Command buttons should show when debugging.

## Observed Behavior

Debugging ListView Commands work as expected when switching to Google Chrome, however don't render on Microsoft Edge.

## Steps to Reproduce

`npm install @microsoft/generator-sharepoint`

`yo @Microsoft/

[2018-04-30 09:40] vivekdhanuka2002 opened #128 "SPFx Extension Header flicker Issue."
It Loads the Old Header (By Default header provided in modern pages) and then my extension work.

## Category
- [ ] Question
- [ ] Bug
- [x] Enhancement

## Expected or Desired Behavior

## Observed Behavior

It Loads the Old Header (By Default header provided in modern pages) and then my extension work.

Thanks for your contribution! Sharing is caring.

[2018-05-10 12:18] AlanMRichards opened #131 "Bind script suddenly stopped working"
- [x] Question
- [ ] Bug
- [ ] Enhancement

## Observed Behavior
Have installed the app to the SharePoint app catalog and it has been binding with no issues to site collection and today stopped working with the error:
The property 'ClientSideComponentId' cannot be found on this object. Verify that the property exists and can be set.

## Steps to Reproduce
Powershell open with admin rights
PnP-Conn

[2018-05-12 20:26] VesaJuvonen commented on #127
As this seems to be a generic issue, would request to reopen it at the sp-dev-docs, so that we get it under the official engineering process. This issue list ONLY for issues in the samples. We use http://aka.ms/spdev-issues as a centralized location for generic issues, which are also copied to our VSO for tracking. Thx.

[2018-05-12 20:26] #127 closed

[2018-05-12 20:27] VesaJuvonen commented on #124
As this seems to be a generic issue, would request to reopen it at the sp-dev-docs, so that we get it under the official engineering process, if it's still an issue. This issue list ONLY for issues in the samples located in this repository as noted in the issue template instructions. We use http://aka.ms/spdev-issues as a centralized location for generic issues, which are also copied to our VSO fo

[2018-05-12 20:27] #124 closed

[2018-05-12 20:32] VesaJuvonen commented on #121
As this seems to be a generic issue, would request to reopen it at the sp-dev-docs, so that we get it under the official engineering process and centralized location. This issue list ONLY for issues in the samples located in this repository as noted in the issue template instructions. We use http://aka.ms/spdev-issues as a centralized location for generic issues, which are also copied to our VSO f

[2018-05-12 20:32] #121 closed

[2018-05-12 23:15] Starbuckill opened #132 "problem following deployment"
Hello,
I have followed the deployment indcations but nothing happens when I run the script, even if I have no error in the shell, I do not see the menu in my site collection or in my site "modern". Can anyone help me ?

[2018-05-15 19:20] mubash7 opened #133 "ListView Command set visible on List and not on Document Library."
#### Category
- [ ] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior
For Listview Command set, if RegID is 101, the command set should be deployed in document library.

#### Observed Behavior
Command set visible in List and not on Document Library
[Elements.txt](https://github.com/SharePoint/sp-dev-docs/files/2011840/Elements.txt)
@VesaJuvonen

#### St

[2018-05-15 19:57] markved opened #134 "Field customizer on classic site or page"
## Category

- [x] Question
- [ ] Bug
- [ ] Enhancement

## Expected or Desired Behavior

Question: Does Field Customizer extension work on Classic site and page? I created a simple field extension to render HTML of field value but it doesn't seem to work.

The onRenderCell method includes this line of code:
event.domElement.innerHTML = `
    <a href='/sites/xxxxx/SitePages/ProjectDetails.aspx?Pro

[2018-05-16 09:45] #132 closed

[2018-05-18 00:02] lexschulz commented on #134
Hi Markved,
I think in your case you should use Client Side Rendering (CSR).

https://www.codeproject.com/Articles/620110/SharePoint-Client-Side-Rendering-List-Views

Hope this helps.

[2018-05-25 15:41] harshdamaniahd commented on #118
This works , but we reduce the size of page i.e window , the top nav bar is hidden

[2018-05-25 15:53] harshdamaniahd opened #135 "react-application-tenant-global-navbar mobile view issue"
The above top navigation works perfectly fine in desktop view, but as soon as i change view to mobile it disappears.
Through Inspect Element , I find that it is hidden
@media screen and (max-width: 639px)
<style>…</style>
.SPPageChrome-app .ms-CommandBar .ms-CommandBarItem {
    display: none;
}
If i change this to display:inline .. it works.
But also gets applied to other elements on page

[2018-05-25 15:57] harshdamaniahd commented on #88
For me the menu is still hidden in mobile view

[2018-05-28 07:40] gristy58 commented on #113
It was another mega menu one which also had issues

It seems sometimes the app customisers do not load

What I did in the end was use the hub site menus

On Sun, 27 May 2018 at 3:49 pm, Harsh Damania <notifications@github.com>
wrote:

--
Regards

Chris Grist

[2018-05-28 12:15] clechner77 commented on #113
Ultamately that's what I did too - - used the hubsite menus.
________________________________
From: gristy58 <notifications@github.com>
Sent: Monday, May 28, 2018 2:40:53 AM
To: SharePoint/sp-dev-fx-extensions
Cc: Clint Lechner; Author
Subject: Re: [SharePoint/sp-dev-fx-extensions] Global Navigation example often loads everything in overflow menu (ellipsis) (#113)

It was another mega menu one whi

[2018-05-28 12:30] harshdamaniahd commented on #113
ok...thanks @clechner77 @gristy58
 ...let me see hub menu as well

[2018-05-30 12:28] varun5585 commented on #118
I noticed this to be a office UI fabric command bar issue. Although, we were not able to replicate this on actual mobile devices or tablets.

[2018-06-01 18:35] sanfo168 commented on #133
It could be that your ClientSideComponentID does not have an ID associated with it.  Try going into your UpRevisionCommandSet.manifest.json file and use the ID from there as the ClientSideComponentID in the elements.xml.

Hope this helps!

[2018-06-02 12:57] harshdamaniahd opened #136 "Load SPFX webparts only after application customizer init method is completed ?"
I have some webparts who have dependency of data which is obtained from application customizer.
Is it possible to load webparts after application customizer

[2018-06-08 13:17] PooLP commented on #96
Same interrogation for me, and any idea for a real "selected" state for current page.

[2018-06-11 15:19] ja3bhende commented on #113
I am facing the same issue which screwed me completely. This issue is intermittent. I have already spent 3 days. Please help me resolve this issue. Please suggest the solution for this CommandBar navbar only. I am not expecting other navigation suggestions.

Any feedback is really appreciated ...

[2018-06-12 07:55] VesaJuvonen commented on #134
Field customizers are not supported on classic experiences. Your option is to use CSR, like noted by @lexschulz.

[2018-06-12 07:55] #134 closed

[2018-06-12 07:56] VesaJuvonen commented on #133
This issue was moved to SharePoint/sp-dev-docs#2009

[2018-06-12 07:56] #133 closed

[2018-06-12 07:56] VesaJuvonen commented on #133
Moving to sp-dec-docs repository as this is a generic question, not specific for any sample in this repository.

[2018-06-12 07:58] VesaJuvonen commented on #128
This is currently by design due to the load timings. We are working on reducing the flicker with the future versions, but there's no easy fix for this for now.

[2018-06-12 07:58] #128 closed

[2018-06-12 08:01] VesaJuvonen commented on #131
This seems to indicate that you are using an older version of the CSOM in your environment. The exact issue really depends also on what's included and executed in the TenantGlobalNvBarProvisionCustomizer.ps1 as the content of the PowerShell file is not shared. If you still have this issue, please open up a new issue at sp-dev-docs (http://aka.ms/spdev-issues) as this issue does not seem to be rela

[2018-06-12 08:01] #131 closed

[2018-06-12 08:03] VesaJuvonen commented on #136
There's no generic way to do this. You'd need to deal with this logic in your own JavaScript implementation. Notice also that as this is a generic question and not related on any of the issues in this repository, we would request to ask these kinds of questions at sp-dev-docs issue list - http://aka.ms/spdev-issues.

[2018-06-12 08:03] #136 closed

[2018-06-12 09:50] gristy58 commented on #113
Hey,

Its not the best so i think you are best to look at something else.

Hub site navigation works great and my clients are happy again

On 12 June 2018 at 00:50, ja3bhende <notifications@github.com> wrote:

--
Regards

Chris Grist

[2018-06-27 05:56] harshdamaniahd opened #139 "Can we add extension to sitepage like we add to list"
So basically i want to add a link on site page bar , it is possible ?
![image](https://user-images.githubusercontent.com/11780473/41955252-e627bdec-79fc-11e8-9b09-649eb5d74a45.png)

[2018-06-27 14:34] WickedTheToy commented on #139
Hello @harshdamaniahd

Look this sample : https://github.com/SharePoint/sp-dev-fx-extensions/tree/master/samples/react-command-custom-command-bar

Cheers ; )

[2018-06-27 16:00] harshdamaniahd commented on #139
This is what is possible...I am looking forward for a solution where i can add a link on site page (not list or library)

[2018-06-28 06:41] harshdamaniahd opened #140 "listviewcommandset not working for sitepages or document library"
ListViewCommandSet.CommandBar not working when adding to document library.
I actually want the listviewcommandset added to sitepages , but it is not working.
It is only getting attached to sharepoint list

[code]

[2018-06-29 17:07] jtcooper1224 commented on #96
Using SPFx App Customizer I'm using a _fetchFromSPList() call to populate a MegaMenu (MM) from a SharePoint list onto modern pages. Site Owner permissions can see the MM from any modern page, list, or library, so no problem there, but users with Member (contribute) permissions and Visitor (read-only) can not see the MM on modern pages, but can see the MM list in Site Contents.

I created a new per

[2018-07-02 16:39] adambu opened #141 "Top and Bottom Placeholders not available on Events.aspx page"
#### Category
- [x] Question
- [ ] Typo
- [ ] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

Sorry, this is a dupe of issue listed under sharepoint/sp-dev-docs, but I couldn't find a way to move the issue.  If one is to be l closed as a dupe, please close the other one, as it seems to belong here.

I need to confirm what I've noticed by debugging, which is that the top and b

[2018-07-04 05:15] harshdamaniahd commented on #140
A small update on this, changing ResistrationID to 119 now brings listviewCommandSet visible on site pages  but they are also visible on custom list why ?

`<?xml version="1.0" encoding="utf-8"?>
<Elements xmlns="http://schemas.microsoft.com/sharepoint/">
    <CustomAction
        Title="EditLinkSitePage"
        RegistrationId="119"
        RegistrationType="List"
        Location="ClientSideExte

[2018-07-09 08:54] VesaJuvonen commented on #141
This issue was moved to SharePoint/sp-dev-docs#2198

[2018-07-09 08:54] #141 closed

[2018-07-09 08:54] VesaJuvonen commented on #141
As this is not about a specific sample, rather a generic comment / question, moving it to the right issue list as sp-dev-docs repository to ensure that it's getting processed using official engineering process.

[2018-07-09 16:59] adambu commented on #141
Hi Vesa,
I'm not sure this is really about a specific Sample, but rather about a specific kind of Page which is provided by Modern Experience only.  There are few customization point or content placeholders in the Modern pages, and for the Events.aspx page, these don't appear to be available.

[2018-07-15 21:08] sparkitect commented on #135
Add a rule to the app's specific CSS (in /src/extensions/tenantGlobalNavBar/AppCustomizer.module.scss on line 22).

BEFORE:
`
    .commandBar {
      width: 100%;
    }`

AFTER:
`
    .commandBar {
      width: 100%;
      display:inline;
    }`

[2018-07-15 21:16] sparkitect commented on #113
Hub Sites, with their shared top navigation are great, but what many customers actually want is a **single** top navigation across **all** of the Site Collections.

This sample is a great start, but it **is** just a sample, and it **is** a bit dated...

[2018-07-16 18:02] jtcooper1224 commented on #96
I have found the resolution.

In my request for the SharePoint list I was using an .ensure() function -

web.lists.ensure("MegaMenu")

... and to use this call I had to ensure that the list existed to bring back the data. The problem was that the code reads "ensure" as "go find all of the SharePoint lists and make sure this one exists, then give me it's data. The "Read" permissions users do not ha

[2018-07-17 06:53] #135 closed

[2018-07-30 19:27] shaipetel commented on #99
5 months later, still no fix for this...

Thanks for sharing - I was having the same problem, saved me some time...

[2018-08-03 12:20] dhanabalramesh opened #149 "Group Commands in commandset extension"
#### Category
- [x] Question
- [ ] Typo
- [ ] Bug
- [ ] Additional article idea

#### Scenario:

#### Client expectation:
![image](https://user-images.githubusercontent.com/20179657/43480762-d38a1f6e-9521-11e8-8880-7f15cc2e5624.png)

#### Question:
Is it possible to group those command sets under single menu item say "Record Operations". Same behavior as "New", "Upload", "Flow" etc.. which has sub

[2018-08-10 14:03] gilroitto commented on #99
Thank you! This saved me!
Why is the issue closed? The issue remains.

[2018-08-10 17:51] shaipetel commented on #99
@gilroitto the issue is closed since the original poster found a workaround and closed it.

I agree, this should still be active and fixed but only the original poster or the team can reopen it...

[2018-08-13 13:00] VesaJuvonen commented on #149
This issue was moved to SharePoint/sp-dev-docs#2356

[2018-08-13 13:00] #149 closed

[2018-08-13 13:00] VesaJuvonen commented on #149
As this is a generic issue and note related on any sample in this repository, moving it to the right location at sp-dev-docs issue list which we triage in engineering.

[2018-08-13 13:01] VesaJuvonen commented on #140
This issue was moved to SharePoint/sp-dev-docs#2357

[2018-08-13 13:01] #140 closed

[2018-08-13 13:02] VesaJuvonen commented on #140
As this is a generic issue and not related on a specific sample in this repository, moving this to the sp-dev-docs issue list so that it will get triaged by engineering.

[2018-08-13 16:01] mwhelo commented on #114
@patrickabel I am having this same issue, have you found a solution to this yet?

[2018-08-21 10:07] GodTigga opened #154 "Running npm install in react-msal-bot returns an Error"
C:\Winscriberec\SPFX Projects\SP Bot\sp-dev-fx-extensions\samples\react-msal-bot>npm install
npm WARN saveError ENOENT: no such file or directory, open 'C:\Winscriberec\SPFX Projects\SP Bot\sp-dev-fx-extensions\samples\react-msal-bot\package.json'
npm WARN enoent ENOENT: no such file or directory, open 'C:\Winscriberec\SPFX Projects\SP Bot\sp-dev-fx-extensions\samples\react-msal-bot\package.json'

[2018-08-21 10:11] #154 closed

[2018-08-21 11:44] knalbandianbrightgrove commented on #114
@patrickabel @mwhelo

Hi guys, I'm having the same issue, have you found any workaround?
I've tried to subscrive to dynamicDataProvider events, in order to notify the Documents library layout change (e.g. user click to folder), but no luck "@microsoft" make the property private.

May be we can help together to find proper way to fix this issue?

@VesaJuvonen any advise how we can solve it?

[2018-08-21 16:12] patrickabel commented on #114
@knalbandianbrightgrove @mwhelo I haven't found a workaround yet on this issue. :/

[2018-08-22 07:42] knalbandianbrightgrove commented on #114
@patrickabel sad :(

@VesaJuvonen We need your help! As the issue is major for us

[2018-08-22 10:41] GodTigga opened #155 "react-msal-bot simply not working"
Has anyone had success with the react-msal-bot? I've followed these instructions multiple times but the bot simply doesn't show up, the worst result I've received so far is site contents is blank when running my local gulp server (gulp serve --nobrowser)...am I missing something here?

[2018-08-31 04:54] NishaJose opened #156 "spfx webpart not showing up on internet explorer. The webpart works perfectly on Chrome, Firefox and edge."
## Category

- [ ] Question
- [x] Bug
- [x] Enhancement

## Expected or Desired Behavior

## Observed Behavior

## Steps to Reproduce

## Submission Guidelines

Thanks for your contribution! Sharing is caring.

[2018-09-04 10:11] andrasg opened #157 "npm install fails in samples/js-application-appinsight on MacOS with no member named 'ForceSet' in 'v8::Object'"
## Category

- [ ] Question
- [X] Bug
- [ ] Enhancement

## Expected or Desired Behavior

`npm install` successfully installs dependencies.

## Observed Behavior

`npm install` fails:

[code]

## Steps to Reproduce

1. clone repo
2. cd /samples/js-application-appinsight
3. npm install

[2018-09-04 10:52] andrasg commented on #157
My bad, switched to node@8 and started working.

[2018-09-04 10:52] #157 closed

[2018-09-04 18:38] zolem opened #158 "Provision sharepoint assets with extensions?"
## Category

- [x] Question
- [ ] Bug
- [ ] Enhancement

Can you provision assets such as columns, content types, and lists with an spfx extension? All the tutorials and examples seem to only exist for spfx web parts and all my attempts at provisioning SharePoint assets with an extension have failed for me. I am wondering if it is just not a thing for extensions.

[2018-09-06 18:04] zolem commented on #158
I have been trying to do it with a webpart and I am running into the same issue. Of course I don't really know what the issue is thanks to https://github.com/SharePoint/sp-dev-docs/issues/872#issuecomment-418906294

Hopefully some validation will occur at somepoint to help us provision things.

[2018-09-10 09:58] VesaJuvonen commented on #158
As this is a generic question and not related on any sample in this repository, we will be closing this and we'll follow up on any submission in the sp-dev-docs repository, as noted in the issue template. To be able to investigate what goes wrong you should do the following:

- Submit new issue in the sp-dev-docs
- Add either correlation ID+tenant name or the solution as part of the issue - as wit

[2018-09-10 09:58] #158 closed

[2018-09-10 09:59] VesaJuvonen commented on #156
Closing as Issue is missing details and seems to be also a generic issue, which should be reported at sp-dev-docs repository as noted in the issue template.

[2018-09-10 09:59] #156 closed

[2018-09-26 16:35] omega1119 opened #162 "react-msal-bot - TypeError"
Hi there,

I've followed all the instructions to deploy and run the chat bot, but when I try to run the app.js file I keep getting this error and I can't seem to figure it out:

const connector = new builder.ChatConnector({
                  ^

TypeError: builder.ChatConnector is not a constructor
    at Object.<anonymous> (D:\home\site\wwwroot\app.js:18:19)
    at Module._compile (module.js:643:3

[2018-09-27 09:58] Tomatokun13 commented on #162
Hi @omega1119 , did you copy/paste the right [package.json file ](https://github.com/SharePoint/sp-dev-fx-extensions/blob/master/samples/react-msal-bot/bot/package.json)?
If so, try to delete the node_modules folder and reinstall all the packages.

cc : @FranckyC

[2018-09-27 10:40] omega1119 commented on #162
Hi @Tomatokun13,

yes I've done that several times as well as the package-lock.json as well as getting latest of all the packages. This is my current package.json

{
  "name": "bot",
  "version": "1.0.0",
  "description": "",
  "main": "app.js",
  "dependencies": {
    "botbuilder": "^4.0.6",
    "botbuilder-azure": "^4.0.6",
    "node-fetch": "^2.2.0",
    "restify": "^7.2.1"
  },
  "devDependenc

[2018-09-27 11:39] Tomatokun13 commented on #162
Try this

{
  "name": "bot",
  "version": "1.0.0",
  "description": "",
  "main": "app.js",
  "dependencies": {
    **"botbuilder": "3.15.0",
    "botbuilder-azure": "^3.1.0",**
    "node-fetch": "2.1.2",
    "restify": "7.2.1"
  },
  "devDependencies": {},
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "start": "node app.js"
  },
  "author": "",
  "license": "ISC"
}

[2018-09-27 14:50] FranckyC commented on #162
Hi like @Tomatokun13  said, remove all "^" character before each package to install a fixed version. Then run a `npm i`. Don't forget to wipe your nodes_modules before.

[2018-09-27 14:59] FranckyC commented on #155
Hi @GodTigga, sorry for late response. Can you give me some details about errors you get when setup the solution?

[2018-09-27 15:01] FranckyC commented on #155
Maybe you can try this fix https://github.com/SharePoint/sp-dev-fx-extensions/issues/162 as well. Let me know.

[2018-09-28 06:26] SebastianLarsson opened #165 "react-mega-menu doesn't work in ie11 when deployed"
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior

The extension working the same way deployed and run through the workbench

## Observed Behavior

react-mega-menu works in IE11 when tested in the workbench, but deployed on a site doesn't load any links.

## Steps to Reproduce

Test react-mega-menu with the workbench and the test data it works in ie11. Bundle

[2018-09-28 11:49] thomasberman opened #166 "react-application-tenant-global-navbar gulp serve not working. Cannot find manifests.js"
## Category

- [ ] Question
- [X] Bug
- [ ] Enhancement

## Expected or Desired Behavior

When appending the query string to a SharePoint site, the react-application-tenant-global-navbar extension being served should render

## Observed Behavior

I receive an error that manifests.js is not accessible.

![image](https://user-images.githubusercontent.com/3643224/46206375-bbf92200-c31b-11e8-8986-67d9

[2018-10-04 20:08] cloudedturtle opened #167 "react-application-regions-footer - GeoGroups.xml - "The provided template is not valid!""
## Category
- [x] Bug

## Expected or Desired Behavior
Executing the Import-PnPTermGroupFromXml should update/create a termset within the termstore with the information from the XML file.

## Observed Behavior
When Attempting this PowerShell command using the data from the samples I get a message that states "The provided template is not valid!"

[code]
## Steps to Reproduce
Clone the repo
from Po

[2018-10-16 13:44] Mani51 opened #170 "SPFx Extension- The expected placeholder (Bottom) was not found."
Hi,
![pnp issue](https://user-images.githubusercontent.com/17005401/47019980-f6651a80-d175-11e8-9967-bf1d25fdb272.PNG)

Suddenly SharePoint Modern Site Navigation and Footer is not getting loaded in any of the site pages. Getting the error as "The expected placeholder (Bottom) was not found."

Is there any Microsoft update going on?

Please help me!

Thanks

[2018-10-16 14:31] Cyan005 commented on #170
I can confirm that as of late last week, this also started popping up in our tenant. Our extensions have been working with no issues for over a month.

Also, it seems that on the applications pages (or site contents), the extension works just fine.  I'm also seeing console log messages from spofiles indicating "Defined clientSidePlaceholders: DialogContainer,Top,Bottom".  I don't recall seeing the

[2018-10-16 14:45] harshdamaniahd opened #171 "Application Customizer suddenly stopped working on SitePages"
Application Customizer Suddenly stopped working on SitePages Page.
It was working on rest of modern page.
I tried deploying it to a new tenantt , it is working there as well

Error screen shot
![image](https://user-images.githubusercontent.com/11780473/47024901-e42db100-d162-11e8-9720-55390e14e882.png)

[2018-10-16 15:15] Cyan005 commented on #170
@Mani51 Just an update here, we added some code to the solution and upon some quick testing, the extension seems to be loading as expected:

[code]

This was found over at https://github.com/SharePOint/sp-dev-docs/issues/1042

[2018-10-16 15:44] Cyan005 commented on #170
And this apparently wasn't the solution, starting to see the same issue again after deployment.

[2018-10-16 17:01] waldekmastykarz commented on #171
What are you trying to get the domElement of?

[2018-10-16 19:58] harshdamaniahd commented on #171
It is a react mega menu code, trying to top placeholder.
This same extension is getting loaded on Allitems.aspx,settings.aspx and other OOB pages.But not loading on SitePages Library Page.
Also if i refresh many times, sometimes the extension is loaded and sometimes it is not
![image](https://user-images.githubusercontent.com/11780473/47043650-697a8b00-d18e-11e8-9c3c-a74638d89e28.png)

[2018-10-17 13:14] harshdamaniahd commented on #171
Just an update, I have not made any changes to my code today and now its working.
is something going on with SitePages in background ?

[2018-10-17 15:18] sabitertan opened #172 "trigger a logger when a modern page "Published""
## Category

- [X] Question
- [ ] Bug
- [ ] Enhancement
I would like to trigger a logger when a modern page "Published".
I am trying to figure out how I can listen "Published" event on Publishing Modern Pages.
I am trying to use @microsoft/sp-core-library::ServiceScope.consume and I am not sure if this is a good way to go.
Can you provide an example to listen changes on page-state or state-manager

[2018-10-18 07:32] harshdamaniahd commented on #170
I guess now its working.
Pls try

[2018-10-19 07:29] BigEaseGueldi commented on #170
It's not. Since this morning, placeholders are not found anymore.

[2018-10-19 09:56] harshdamaniahd commented on #170
I was facing this issue two days back, and then it got fixed on its own.
Strange

[2018-10-19 11:18] BigEaseGueldi commented on #170
We're still facing this issue. On different tenants.

[2018-10-19 13:33] Cyan005 commented on #170
Yeah I haven't noticed the issue the last few days.  Something 'magical' happened to fix it.

[2018-10-19 20:20] pedropablo commented on #170
I added the **changedevent** you suggested and is now working. But I'm not sure if that was it or some internal SharePoint magic did the trick.

BTW that line is on the official documentation of the extensions. Not sure when it was added, my code is a bit old and was working fine until this week ¯\_(ツ)_/¯

[2018-10-20 08:10] harshdamaniahd commented on #170
https://github.com/SharePoint/sp-dev-docs/wiki/Safely-using-Placeholders-in-an-extension
Please read this article.

[2018-10-22 13:16] VesaJuvonen commented on #171
There was a regression, which was then fixed. Thanks for following up on it to work now properly. Closing the issue.

[2018-10-22 13:16] #171 closed

[2018-10-26 17:16] jcosta33 opened #174 "Extension resources propagate to different site collection when navigating through hub site"
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement

## Observed Behavior

When navigating using the hub site navigation the page doesn't reload. If any extension is loaded on the page its resources are propagated to the navigated page, even if it's a different site collection that doesn't have this extension. ie: CSS form extension X designed to affect site collection X is going to affect sit

[2018-10-28 13:56] Ofer-Gal opened #175 "The script DiscussNowProvisionCommandSet.ps1 is missing from sp-dev-fx-extensions/samples/react-command-discuss-now/"
- [ ] Question
- [x] Bug
- [ ] Enhancement
The script DiscussNowProvisionCommandSet.ps1 is missing from sp-dev-fx-extensions/samples/react-command-discuss-now/
The link gets 404

[2018-11-06 13:34] #162 closed

[2018-11-06 13:45] omega1119 opened #179 "react-msal-bot gulp bundle issue"
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior

I'm trying to package up the extension for deployment into the app catalog.

## Observed Behavior

When I run gulp bundle I get the following warning/error:

Warning - [webpack] 'dist':
./node_modules/adaptivecards/lib/adaptivecards.js
(Emitted value instead of an instance of Error) Cannot find source file '.

[2018-11-12 12:02] jcosta33 commented on #174
I'm temporarily forcing refresh when I detect a navigation of this kind. This is not an optimal solution, can I get an update this issue?

[2018-11-18 05:46] Ravi-Kulkarni commented on #179
I am also getting the same error,  any updates on the issue?

[2018-11-18 21:58] VelinGeorgiev commented on #165
@SebastianLarsson , I am sorry for the late response. The extension [requires a list to be created and populated with data](https://github.com/SharePoint/sp-dev-fx-extensions/tree/master/samples/react-mega-menu#can-be-used-as-centralized-site-collection-mega-menu-as-well-as-standalone---per-sub-web) to display something when not in debug.

Have you created a list with at least one item inside? You

[2018-11-21 00:38] kachihro commented on #166
I often get that - and it's due to either CHROME - or Kaspersky (AV block).

Can you browse to the file on it's own - in another tab :    https://localhost:4321/temp/manifests.js

[2018-11-21 21:54] gschwendt commented on #99
@VesaJuvonen can this be reopened? I faced this same issue today as well. Work-around was to delete it from the Site Collection Recycle Bin.

[2018-11-22 00:10] ashishshukla1183 opened #181 "Can we add a Command set to Site Pages command bar?"
## Category

- [X] Question
- [ ] Bug
- [ ] Enhancement

Is there any way to add actions/commands to Site pages command bar using Command sets?
Please refer the attached image for the exact location.

![image](https://user-images.githubusercontent.com/10719499/48874377-938c2200-edb8-11e8-9087-579ab27e4122.png)

[2018-11-22 06:41] luismanez commented on #181
I don´t think you can do that. CommandSets are only tied to Lists (I think that would be supported at some point, but just an opinion). A non-recommended approach could be to use an Application Extension, and deal with the DOM to place the button in there, but as I say, is not recommended by MS...

[2018-11-22 17:12] ashishshukla1183 commented on #181
That is an option but not sure how long as one update can break everything. It would be great if command set is not just limited to listview pages.

[2018-11-22 17:36] hugoabernier commented on #181
Ashish, I created a uservoice entry for this a while ago, but it isn't getting a lot of votes. Feel free to vote:
https://sharepoint.uservoice.com/forums/329220-sharepoint-dev-platform/suggestions/33029431-modern-page-extensions

Also, the reason why it doesn't get votes is probably because my description isn't quite clear. Feel free to add to it.

[2018-11-23 09:09] TuomasPakkanen commented on #114
Here's a Google Analytics SPFx extension that tracks also these page navigations:
http://sharepoint.handsontek.net/2017/12/21/how-to-add-google-analytics-to-the-modern-sharepoint/

I'm however looking for something similar for App Insights and I guess this sample still has this issue? @VesaJuvonen can you check it at some point?

[2018-11-23 09:38] knalbandianbrightgrove commented on #114
@TuomasPakkanen the Google Analytics SPFx has the same issue!

[2018-11-26 14:23] kayodebristol opened #182 "react-application-tenant-global-navbar build fails at deasync@0.1.10"
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior
Success

## Observed Behavior

Building the projects in this solution one at a time. To enable parallel build, please add the "/m" switch.
  deasync.cc
  win_delay_load_hook.cc
c:\projects\sp-dev-fx-extensions\samples\react-application-tenant-global-navbar\node_modules\nan\nan_maybe_43_inl.h(112): error C203 9

[2018-11-27 10:29] kayodebristol commented on #182
Installing and using yarn seems to resolve this.

[2018-11-27 10:29] #182 closed

[2018-12-09 01:04] TowersOfHinoi commented on #99
For future reference: accessing second stage recycle bin and clearing all related content to the app also solves this.

[2018-12-12 10:05] spverma03 opened #186 "Suggestion: Update repository to accommodate 'Host your client-side web part from Office 365 CDN'"
## Category

- [ ] Question
- [ ] Bug
- [x] Enhancement

## Expected or Desired Behavior

Resources should be hosted from Office 365 CDN.

## Observed Behavior

As the repository is not updated for a long time, If we try to build a solution using this repository, we have to specify CDN path in the solution. But as per updates, Microsoft has described a wonderful way to host SPFx client side web pa

[2018-12-12 10:07] spverma03 commented on #186
Example : sp-dev-fx-extensions/samples/react-application-tenant-global-navbar/

https://github.com/SharePoint/sp-dev-fx-extensions/tree/master/samples/react-application-tenant-global-navbar

[2018-12-17 10:51] BigEaseGueldi opened #187 "ms-compositeHeader missing"
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior

In case you introduce your own stuff via the top placeholder, quite often you want to get rid of everything inside the ms-compositeHeader.

## Observed Behavior

During the weekend, the corresponding class somehow disappeared.

## Steps to Reproduce

Actually this does not hold for all tenants, but of course

[2019-01-03 07:52] TuomasPakkanen commented on #114
Seems that it does, after all. Haven't yet found a way to reliably monitor the modern sites on SPO. Hopefully there will be some update or fix to this navigation tracking soon.

[2019-01-07 15:44] patrickabel commented on #114
@VesaJuvonen can you help here? We've got a number of samples here that no longer work here due to page-loading changes in SPO.

[2019-01-08 07:48] TaurahSP opened #189 "Ts loader not working"
I have change the entry point in config.json to a ts file as below:

{
  "version": "2.0",
  "bundles": {
    "site-breadcrumb-bundle": {
      "components": [{
        "entrypoint": "./src/extensions/siteBreadcrumb/SiteBreadcrumbApplicationCustomizer.ts",
        "manifest": "./src/extensions/siteBreadcrumb/SiteBreadcrumbApplicationCustomizer.manifest.json"
      }]
    }
  },
  "localizedResourc

[2019-01-11 09:11] TaurahSP opened #190 "Breadcrumb not working on modern team site"
I have deployed the breadcrum package to the appcatalogue and on developer site with modern pages the latter works fine. I am testing with a modern team site but the extension is not showing up and there is no error.

[2019-01-11 16:12] memsim1010 opened #191 "Convert to PDF"
@anoopt
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior

Able to run 'gulp build' per Read Me instructions within "sp-dev-fx-extensions\samples\js-command-convert-to-pdf\ConvertToPDFRequest"

## Observed Behavior
Returned:
sp-dev-fx-extensions\samples\js-command-convert-to-pdf\ConvertToPDFRequest>gulp
build
[11:06:32] Local gulp not found in ~\sp-dev-fx-ext

[2019-01-15 06:01] TaurahSP commented on #63
i still do not see the extension in my list of application to add

[2019-01-29 06:16] clohigh opened #197 "react-application-tenant-global-navbar navigation menu stays open after page load"
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior

So I was expecting the nav menu to  close after clicking an item and navigating to the page. Yet after clicking a nav menu item the page loads and the nav menu stays open.

## Observed Behavior

I would want the nav menu to close after clicking a menu item.

## Submission Guidelines
@PaoloPia

[2019-01-29 13:31] SebastianLarsson commented on #187
Yes same here

[2019-02-06 22:41] #197 closed

[2019-02-06 23:12] clohigh opened #201 "react-application-tenant-global-navbar stays open for pages on the same site"
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior

I would want the nav menu to close after clicking a menu item link for a site page within the same site.

## Observed Behavior

So I was expecting the nav menu to close after clicking any item on the menu and navigating to the page.

Yet if you click a nav item link that is in the same site the page loads but

[2019-02-19 18:44] selvaag opened #207 "Issue with sample / TypeScript error"
## Category

- [x] Question
- [ ] Bug

## Expected or Desired Behavior

Error try compile

## Observed Behavior

I get error when compile:

[19:39:15] Error - [tsc] src/extensions/print/components/print-dialog-content/print-dialog-content.tsx(3,8): error TS1192: Module '"C:/Users/**/Documents/Development/SharePoint/SPFx/testing/react-command-print/node_modules/react-to-print/lib/index"' has no def

[2019-02-19 18:53] jcosta33 commented on #207
Duplicate of this?
https://github.com/Microsoft/TypeScript-React-Starter/issues/8

[2019-02-19 19:15] selvaag commented on #207
Looks same, but after changed code in file:
(ref. file \src\extensions\print\components\print-dialog-content\print-dialog-content.tsx)

To: `import * as ReactToPrint from "react-to-print";`

The initial error fixed but **After compile retry, I get another error:**

[20:07:00] Error - [tsc] src/extensions/print/components/print-dialog-content/print-dialog-content.tsx(95,33): error TS2322: Type '{ t

[2019-02-20 15:26] jcosta33 commented on #207
Looks like you're trying to assign a data structure that isn't compatible with the type typescript is infering or you're declaring. You can use type assertion to bypass this.

https://basarat.gitbooks.io/typescript/docs/types/type-assertion.html

But you shouldn't have to. You should get comfortable with typescript and the type system and understand it as best you can, it'll improve your code.

[2019-02-21 13:19] maciejmaksymo commented on #201
Hello @clohigh ,

Did you by any chance manage to fix this on your own?
I have the very same problem and I'm looking for fixes or at least workarounds.

Best regards
Maciej

[2019-02-24 18:49] selvaag opened #208 "Error MailViewAsImage"
## Category

- [x] Question
- [ ] Bug
- [ ] Enhancement

## Expected or Desired Behavior

## Observed Behavior

_Error - [tsc] src/extensions/mailViewAsImage/components/MailDetailsDialog.tsx(102,45): error TS2322: Type '{ context: ExtensionContext; titleText: " "; personSelectionLimit: 1; disabled: false; selectedIt...' is not assignable to type 'IntrinsicAttributes & IntrinsicClassAttributes<Peop

[2019-02-25 21:31] jonasesser commented on #166
I have the same error and in the command line the following error apears:

Error: ENOENT: no such file or directory, stat 'C:\Data\Dev\SharePoint Online\react-application-tenant-global-navbar\dist\public\temp\manifests.js'

The path \dist\public\temp\workbench.htm does not exists. The correct path should be only \temp\manifests.js.

Any ideas what's going wrong here?

[2019-02-25 21:47] jonasesser commented on #166
Same error by browse direct to https://localhost:5432/temp/manifest.js. The error disapears if I manuelly copy the temp folder to \dist\public\, but this couldn't be the solution and I ran directly into another error.

The serve.json of the repo looks like the following:

` {
"$schema": "https://dev.office.com/json-schemas/core-build/serve.schema.json",
  "port": 4321,
  "initialPage": "https://lo

[2019-02-25 22:18] jonasesser commented on #96
Just three other thoughts:

1. Security trimming by search

Create a navigation menue by searching for sites / items or folders. The sites must be marked with some metadata information (e.g. TopNavigation, Submenue1 or so).

2. Security trimming by item level security

Create a central List with a hierarchical structure (e.g with folders) which reflects the navigation structure. Also title, descri

[2019-03-06 20:08] enti333 opened #209 "How to Set Possition of Command button"
- [x] Question
- [ ] Bug
- [x] Enhancement

Hello. I want to ask if is possible to set position of my new command button.
I have created extension command button...My button is always on end...I need to set it to first position in command bar. Is this possible?
Also Is possible to register custom command button on contenttype?Like on old ribbon:
RegistrationType="ContentType"
RegistrationId="0x01"

[2019-03-06 21:28] enti333 opened #210 "onListViewUpdated Called many times"
- [x] Question
- [x] Bug
- [ ] Enhancement

Hello. I have this peace of cod
`@override
  public onListViewUpdated(event: IListViewCommandSetListViewUpdatedParameters): void {
    const compareOneCommand: Command = this.tryGetCommand('DATAIMPORT');

    if (compareOneCommand) {
      compareOneCommand.visible = false;
      if (window.location.href.indexOf("hr/Lists/Concediu%20Angajati/") > -1) {

[2019-03-08 00:35] clohigh opened #211 "react-mega-menu submenu items?"
## Category

- [ ] Question
- [ ] Bug
- [x] Enhancement

Hello, I was wondering how I would  go about creating submenu items. For example, the 1st level is the category ("Department of Agriculture, Food an the Marine"), but then you can have sub-category for the 2nd-level of the category and still have links underneath it as well.

@VelinGeorgiev

Thank you,

Carloz

[2019-03-27 06:50] DanishIslam07 opened #214 "Extension not loading in one tenant"
## Category

- [x] Question
- [ ] Bug
- [ ] Enhancement

## Expected or Desired Behavior

Extension should be visible on command bar for document library

## Observed Behavior

Promise with no error callback:undefined error in console.

## Steps to Reproduce

I tried even basic extension following the steps here [https://docs.microsoft.com/en-us/sharepoint/dev/spfx/extensions/get-started/building-

[2019-04-01 11:23] honb opened #216 "copy direct link does not work"
in example, copy direct link does not work. The problem is el.select() does not work, the same code working fine outside SP extension.
Do you guys have any idea?

I meant copy text to clipboard

[2019-04-04 07:20] kachihro opened #219 "Getting an error with ListViewExtender"
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior

Have created a brand new SPFX project (v1.8) and chosen a listview extender - with the Command_one and Command_two buttons.

## Observed Behavior

Buttons do not show, message within console ;

_Uncaught Error: There is no operation handler registered for '{"operation_3":["getItems_1","spField_306"]}'._

## S

[2019-04-07 03:40] karthikmakam commented on #2
Hi,
I am trying to create a new React Carousel Webpart when i check the gulp serve i am facing below issues:
Error - [write-manifests] Manifest validation error (./src/webparts/reactCarousel/ReactCarouselWebPart.manifest.json):
(#/) Data does not match any schemas from 'oneOf'
(#/) Missing required property: description
(#/) Missing required property: extensionType
(#/componentType) No enum match

[2019-04-17 04:46] sionjlewis opened #221 "SPFx Extension periodically fails to load JavaScript package files"
## Category

- [] Question
- [x] Bug
- [] Enhancement

## Expected or Desired Behavior

SPFx Extension to load when page is requested.
Steps:
- Upload SPFx Extension to the App Catalog and select Tenant wide deployment
- Run the Add-PnPCustomAction PowerShell CommandLet (for a specific site)
- Load a modern site page ALL OK

## Observed Behavior

The SPFx Extension will load OK for weeks and then

[2019-04-17 08:57] CodingSinceThe80s opened #222 "ListViewCommandSet Client Side Extension not recognized on tenant"
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior
The sample at [https://docs.microsoft.com/en-us/sharepoint/dev/spfx/extensions/get-started/building-simple-cmdset-with-dialog-api](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/extensions/get-started/building-simple-cmdset-with-dialog-api) should work from the start.

And yes, although it sounds cliché,

[2019-04-22 20:55] eschrader commented on #99
If you go to the Recycle Bin, click the link in the bottom left called "go to second stage recycle bin", which will take you to /_layouts/15/AdminRecycleBin.aspx?view=13 where you can FINALLY delete your app. Going to Site Collection Settings > Recycle Bin is not the same as the above URL for some reason, even though both are modern.

[2019-04-24 22:42] purvishce commented on #88
Any fix?

[2019-04-25 11:39] TashunkoWitko opened #224 "react-command-direct-link -> cannot create new pages"
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior

When installing the extension "react-command-direct-link" a new page can be created on the homepage using the "new" button and then selecting "Page". The modal dialog is visible and the required page template can be selected and confirmed. A page is created.

## Observed Behavior

Instead of the expected beha

[2019-05-16 07:01] ManuMora9 opened #225 "react-command-print issue"
## Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior

When installing the extension "react-command-print" you can print list items using different templates, site admin can add, edit or remove templates and users can print items based on those templates. When you select an item, the option "Print" shows up in the action bar.

## Observed Behavior

The option "Pri

[2019-05-17 19:55] jbranders opened #227 "Application Customizer extension not visible for some users."
## Category

- [x] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior
We created an Application Customizer extension to display some information as the header of the site. The extension is installed, but not globally we using a script to provisioning the site and install the extensions on the site collection. Unfortunately, some user not see the extension in their browser. No er

[2019-05-21 21:03] bumblebee333 opened #228 "Can react-application-tenant-global-navbar spfx part be used for SharePoint 2019 On Premise"
## Category

- [X] Question
- [ ] Bug
- [ ] Enhancement

One of my clients has a requirement to customize the navigation menu for a modern site (SP 2019 onprem). I was wondering if this react spfx app - react-application-tenant-global-navbar  -  can be used for SharePoint 2019 On Prem installation.

Any feedback is appreciated?
Thanks
R

[2019-06-01 12:58] pradeepG43 opened #230 "Please assist in connecting BOT"
I want to call my azure bot from sharepoint online site using spfx extension as shown in the example:

https://github.com/SharePoint/sp-dev-fx-extensions/tree/master/samples/react-msal-bot

Steps/Procedure I followed: 1). Clone the repository from git 2). gulp commands and creating the package 3). adding to site collection 4). running gulp serve --nobrowser

same steps I followed as per given exam

[2019-06-10 21:02] vikramsamal commented on #99
Believe it or not if you delete everything from Recycle Bin then the deletion is happening.

[2019-06-13 22:58] harrychen1 opened #232 "How to configure ListViewCommandSet to be enabled ONLY when Folder selected?"
- [x] Question
- [ ] Bug
- [ ] Enhancement

Is there anyway to configure ListViewCommandSet to be enabled ONLY when Folder selected not item?

Thanks in advance for any suggestions!

[2019-06-18 03:01] gristy58 commented on #224
This is because it injects into your pages:

.ms-Modal{opacity:0!important}

Microsoft Support Manager helped me debug today and ive got rid of this package.

[2019-06-27 18:54] ymihir commented on #2
@karthikmakam , same issue for me also. Did you resolved this?

[2019-07-01 23:43] jurivero commented on #201
Hi, @clohigh,

I have not been successful with this spf and I need some help if possible, please see the errors below:
C:\Projects\sp-dev-fx-extensions\samples\react-application-tenant-global-navbar\node_modules\deasync>if not defined npm_config_node_gyp (node "C:\Users\xxx\AppData\Roaming\npm\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" re

[2019-07-02 00:56] Divyeshkotadia opened #236 "SharePoint Extension Scaffolding is getting hung every time at 4th question"
![image](https://user-images.githubusercontent.com/28899526/59894217-9b369800-9394-11e9-8512-f81ff9632cd4.png)

Hi,

I am facing similar issue and at question 4 (mentioned below) it somehow gets hung.

I have tried installing and uninstalling NODE, Yo, Gulp but no luck. Please suggest next action to resolve this.

FYI - I have followed same steps mentioned in https://docs.microsoft.com/en-us/share

[2019-07-02 13:41] jurivero opened #239 "react-application-tenant-global-navbar"
Good morning,

I am trying to test the following extension "react-application-tenant-global-navbar"
node -v 10.15.3
npm v 6.9.0
gulp v CLI 2.2.0 Local  3.9.2
if I run gulp test or gulp serve --nobrowser I get the same errors, I need some help to test this
please see the errors below:

C:\Projects\sp-dev-fx-extensions\samples\react-application-tenant-global-navbar\node_modules\deasync>if not define

[2019-07-02 15:43] jurivero opened #237 "react-menu-footer-classic-modern"
Hi,

I have another test that have also issues when running gulp please see below:
C:\Projects\sp-dev-fx-extensions\samples\react-menu-footer-classic-modern\SPFx>gulp test
gulp test[21384]: c:\ws\src\node_contextify.cc:626: Assertion `args[1]->IsString()' failed.
 1: 00007FF7E81EF04A v8::internal::GCIdleTimeHandler::GCIdleTimeHandler+5114
 2: 00007FF7E81CA0C6 node::MakeCallback+4518
 3: 00007FF7E8

[2019-08-23 06:37] ikmoss opened #245 "ListView Command Set doesn't refresh this.context.pageContext.list when navigate to a different library"
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior

In ListView Command Set extension, **this.context.pageContext.list** should be refreshed when navigating to a different library.

## Observed Behavior

this.context.pageContext.list within ListView Command Set extension doesn't always refresh the data when a user navigates to a different library. My command e

[2019-09-03 12:09] jithil89 opened #250 "Delay in SPFx App customizer extension loading. Loads after the page and other elements load."
Is this resolved yet ? I created a SPFx app customizer to hide a certain section in the pages. But due to the delay, the sections load first and then get hidden. I believe this is a replacement for custom action. In that case, this should load first. I read that the onInit() function is fired before DOM is loaded.
@waldekmastykarz @estruyf @thechriskent , please advice

_Originally posted by @jith

[2019-09-04 04:54] tejasthite opened #251 "Looking for To Trigger Notifications for Renewal dates || SharePoint 2013 Column"
Hi All, I am looking for Trigger Notifications for Renewal Dates for a SharePoint Column on SharePoint 2013 Using Microsoft Flow but for some reason, they aren't working correctly - any help will be greatly appreciated.

Thank you.

[2019-09-09 06:00] Harshagracy opened #253 "How to use UI fabric icons as icons for the spfx extension?"
## Category

- [x] Question
- [ ] Bug
- [ ] Enhancement

## How to use UI fabric icons for spfx extension?

I know we can add custom logo for the spfx extension from the manifest file like below

`"commands": {
    "DIRECTIONS": {
      "title": "Directions",
      "iconImageUrl": "icons/request.png"
    }
  }`

I want to know how to use the office UI fabric icons like we use in spfx.

[2019-09-24 13:07] Gennady-G opened #257 "react-command-singlepartapppage command set extension, button does not appear"
Greetings!

Sample solution works locally, but cannot get it working when deployed to CDN.

I've downloaded extensions examples, used 'react-command-singlepartapppage' sample. Got error that

Installed nvm, switched to  8.16.1
`nvm use  8.16.1`
then changed url to my cdn in write-manifest, changed 'includeClientSideAssets' to 'false', then
[code]
Dropped files to CDN, deployed to App Catalog and s

[2019-10-11 09:28] PiotrNSmartlogic commented on #245
I also have this problem. I noticed that only first entry to the library after page refresh has a correct context.

My steps:
1. Refresh page
2. Go to library1 (CommandSet's constructor is triggered, context in events is correct)
3. Switch to library2 (CommandSet's constructor is triggered, context in events is correct)
4. Switch back to library1 (constructor is not triggered, context is incorrect

[2019-10-13 23:38] VelinGeorgiev commented on #211
Hi Carloz, This is just a sample. You can download it and extend it in any way you'd like.

[2019-10-15 06:54] shurick81 opened #260 "js-application-appinsights: npm install throws"
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior

Installed modules.

## Observed Behavior

Error in installing `node-sass` module:

[code]

More output: https://gist.github.com/shurick81/278a3763473ffc47c6e6d6f72f5e7516

## Steps to Reproduce

1. Clone `https://github.com/SharePoint/sp-dev-fx-extensions`
2. Navigate to `js-application-appinsights` directory

[2019-10-15 14:16] shurick81 commented on #260
I think it was wrong node.js version that I tried it with.
When I run `npm install` with node.js 6.17.1 or 10.16.3 (which is according to the node.js official web site is "Recommended For Most Users") it is working just fine.

[2019-10-29 18:44] gianlud4s opened #265 "aadHttpClientFactory.getClient stopped working"
## Category

- [] Question
- [x] Bug
- [] Enhancement

## Expected or Desired Behavior

I'm calling an http trigger azure function protected by AzureAD authentication with the following code:

[code]

this.context is of type ListViewCommandSetContext.

## Observed Behavior

I got this error `TypeError: Cannot read property 'call' of undefined` when it tries to execute client.post(apiUrl, AadHttpCl

[2019-10-29 22:30] andygjones-nz commented on #265
I'm experiencing the same issue with an extension that was previously working fine. Experiencing in 2 seperate tenants.

[2019-10-30 10:31] PeppeDotNet commented on #265
Same here, using an Application Customizer.
We are stuck by this error in the production environment...

[2019-10-31 06:01] jithil89 commented on #250
Any resolution ? @VesaJuvonen @estruyf

[2019-11-01 13:53] kapilmehtagit commented on #250
I would like to understand if the delay between page render and SPFx application customizer availability could be reduced. This is quite confusing for the users currently as elements render at different times on the page, and give an impression of slow loading pages. The customiser itself renders very quickly but is invoked quite late in the page render process, after most of the page has already

[2019-11-01 17:06] andrewconnell commented on #236
There was an known issue with an underlying dependency. Ensure you have the most current version of Yeoman installed.

If that doesn't resolve it, we need more context on your environment (version numbers of what you have installed, platform, etc.

[2019-11-06 09:25] vasanthtt opened #266 "Adal failed in document libraries using SPFx extensions"
- [ ] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

I have used **adal** in ListView Command Set extension. When I am opening a document library, adal inside extension is trying to login, that redirects the page to below

`https://login.microsoftonline.com/abc.onmicrosoft.com/oauth2/authorize?response_type=id_token&client_id=xxxx-xxx-xxx-xx&redirec

[2019-11-11 14:16] oliverlp opened #267 "ListView Command Set: event.selectedRows returns wrong ID, when there is a pinned document in the library"
- [ ] Question
- [x] Bug
- [ ] Enhancement
Expected or Desired Behavior
In a library with a pinned document, when I selected a document from a view, the Listview Command Set will return the ID of the selected document, and not the ID of the pinned document.

SPFx version 1.4 and 1.8

Observed Behavior
event.selectedRows[0].getValueByName('ID') returns the ID of the pinned document, not the selecte

[2019-11-13 12:55] oliverlp commented on #267
Hi @andrewconnell ,

Do you this this is related to #4769 [ListViewCommand: event.selectedRows not updating] and #4772 ["ListView CommandSet - onExecute parameters has wrong selectedRows (in a Doc Library) ] ?

Thanks in advance.
Oliver

[2019-11-21 09:30] NavaneethaDev opened #268 "SharePoint site SPFx extenstion banner for all users"
## Category

- [x] Question
- [ ] Bug
- [ ] Enhancement

Could you please let me know how to run spfx extension in an elevated way? If the site has any external users i need to show a banner, this is applicable across all the sites in tenant.
There are two ways we can add external user in SharePoint site
1) we can add external user directly at site level by giving explicit permission
2) we can add

[2019-11-26 15:45] oliverlp commented on #267
This is solved now.

[2019-12-04 21:13] Fnu-Avi opened #272 "Can we make changes to Suite Navigation using SPFX"
- [x] Question
- [ ] Bug
- [] Enhancement

Can we make changes to the main header of the SharePoint site? In my case, I need to make changes to the Suite Navigation (which is the top most part of the page - can be seen in the image).
Link: [Image](https://imgur.com/a/k4vRYfd)

I need to remove the logo from here only for a particular site (not from the whole tenant). Moreover, I need to add more i

[2019-12-13 06:23] Siri311 opened #275 "Send Push Notifications To mobile through SPFx using with Webhooks"
Hi Team,

I have a requirement like Sending push Notifications to Mobile from the SharePoint.

Description:
We have a mobile app (endpoint) in the mobile and also we have a pages library. we want to send notifications to the mobile once page is published.

Can we achieve this functionality with SPFx. if yes, how we can any ideas or suggestions.

Thanks & Regards
Vasu R

[2019-12-17 04:11] ozie02 commented on #265
I am experiencing the same issue; my SPFX extension based on 1.9.1 build's successfully, but when the API call initiated to my Azure Function that uses AAD authentication, I end up with the error

My code is as per the below,

[code]
Developer in the ticket below had similar issues then reported that it's fixed. I cant figure out how it was fixed
[The issue with calling Azure AD secured API by usi

[2019-12-17 10:08] andrewconnell commented on #265
@ozie02 Need to see more of your code... that error says `aadHttpClientFactory` is undefined.

There's also an issue with your code... you aren't using the correct client ID when you call `getClient()`. You do not use the full URL to the endpoint. This should be the URI of the resource, like this:

![image](https://user-images.githubusercontent.com/2068657/70985829-cae80380-208a-11ea-854b-dae23e9e

[2019-12-17 10:09] andrewconnell commented on #265
@gianlud4s this is a dupe of #4840... that issue was resolved.

[2019-12-17 10:09] #265 closed

[2019-12-17 10:38] tejasthite opened #276 "Looking for an Auto PDF Conveter which can be decalred in SharePoint Workflow"
Dear All,

I am Looking for an Auto PDF Converter which can be declared in SharePoint Workflow "I have an Approval Workflow wherein I need to set up auto PDF Conveter if the condition is YES"

Any Help is Appreciated.

Thank you

[2019-12-17 13:03] ozie02 commented on #265
@andrewconnell appreciate your instant response; the error wasn't clear to me that it might be related to my client ID and URI URL configuration. I will reevaluate my Azure function configuration and try to figure out the solution.

Many thanks

[2019-12-19 22:26] MichaelDell commented on #201
Work around...

Replace all hrefs in ContextualMenuItems with onclick event.

                    //href:item.Url,
                    onClick: () => { event.preventDefault(); window.location.href = item.Url; },

[2019-12-30 09:16] Chaitra1006 commented on #250
Any updates or resolution @VesaJuvonen ?

[2019-12-30 13:52] VesaJuvonen commented on #276
Closing as not an issue related on the samples in this repository.

[2019-12-30 13:52] #276 closed

[2020-01-11 14:50] ozie02 commented on #265
Apologies for taking this long. I went back and figured out what could have been wrong with either my code or my Windows Azure Function hosting configuration. Back then, the issue was related to attempting to consume **this.content** object from a child component, which didn't extend **BaseApplicationCustomizer**.

So now, I am passing this.context from the Root component which extends BaseApplica

[2020-01-14 14:55] mevaibhav83 opened #279 "Toastr stuck - sp-dev-fx-extensions"
Issue : Toastr tab is not closing via clicking on 'x' in some scenario (issue is consistent accross IE 11 and Chrome 72+)
Feature: https://github.com/SharePoint/sp-dev-fx-extensions/tree/master/samples/jquery-application-toastr
Repro: Toastr deployed on Hub communication site and multiple communication sites associated to that Hub communication site, when Toastr item appear at Hub site (where Toas

[2020-01-16 17:31] ozie02 opened #280 "Consume aadHttpClientFactory.getClient response code 200 but no data fetched"
I am passing this.context from the Root component which extends BaseApplicationCustomizer to the child component (Root --> ReactHeader --> ReactPanel --> ReactOrders) which requires to make authentication and the API call. Unfortunately, I am facing an issue once fetching data from the API it seems it comes back blank even though the response code is 200.

I have uploaded my two sample codes. The

[2020-01-20 05:50] #280 closed

[2020-01-20 07:50] VesaJuvonen commented on #253
This is not currently supported. You can vote for the feature at following UserVoice entry - https://sharepoint.uservoice.com/forums/329220-sharepoint-dev-platform/suggestions/31781332-allow-to-use-office-ui-fabric-icons-and-other-font

[2020-01-20 07:50] #253 closed

[2020-01-21 04:17] manoj2784 opened #281 "SharePoint rendering blank page after deploying app customizer"
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement

## Expected or Desired Behavior

Thanks for the New Sample - js-application-intranet-searchbox, this works as expected, however in some cases it gives the following issue

## Observed Behavior

Thanks for this sample, it works perfectly fine. However, after adding this extension, intermittently we are getting blank page loads. On removing th

[2020-01-24 03:23] kmprasad4u opened #282 "Controlling order of execution of Application Customizers ?"
## Category

- [x] Question
- [ ] Bug
- [ ] Enhancement

I have created an extension which makes use of the top place holder and display additional menus in the site.  Now I am in need of creating another extension that conditionally displays notifications/announcements in the top place holder region. A separate place holder element is getting created for both the extensions. However I want the no

[2020-02-13 20:25] salvadorrdz commented on #225
Any updates here?

I am having the same issue here. I already downgraded to use Node 8.17.0, gulp 3.9.1.

Can anyone please indicate which exact versions are needed to deploy it successfully into current SharePoint Online?

I updated the write-manifest.json file with my public CDNBasePath and using my current environment configuration, I can bundle and package the solution using the procedure desc

[2020-02-17 10:47] ValerasNarbutas commented on #282
hey @kmprasad4u
description is a bit not clear, maybe you could share repo or some visualisation of what you want to achieve?

[2020-02-17 10:51] ValerasNarbutas commented on #281
Hi @manoj2784 ,
could you check if new version added by @PrasadKasireddy fixed your issue?

[2020-02-17 12:39] ValerasNarbutas commented on #279
hi @mevaibhav83
do you experiencing same when on new page you refresh page?

[2020-02-17 13:57] ValerasNarbutas commented on #268
@NavaneethaDev  you could also check if user contain #ext in login name:
something simmilar to this

import { sp } from "@pnp/sp";
import "@pnp/sp/webs";
import "@pnp/sp/site-users/web";

let userProps = await sp.web.currentUser.get();
if(userProps.LoginName.match("#ext#")){
console.log("External User");
}else{
console.log("InternalUser");
}

[2020-02-18 10:26] mevaibhav83 commented on #279
on refresh via clicking on refresh icon at browser it goes away but it come back if user has not explicitly clicked on 'x' icon of that toastr so doing refresh does not really help much as its terrible to explain to end user.

[2020-02-18 11:24] ValerasNarbutas commented on #279
@mevaibhav83
nah it was not a suggestion to resolve, more like investigation type of question.
Same for me if i use site and subsite, means were is a bug in the code for sites were toast list is not configured.

[2020-02-19 06:12] jeevabharathy opened #283 "react-menu-footer-classic-modern with sub menu"
## Category

- [ ] Question
- [ ] Bug
- [x] Enhancement

## Expected or Desired Behavior

## Observed Behavior

## Steps to Reproduce

## Submission Guidelines

Thanks for your contribution! Sharing is caring.

[2020-02-19 09:16] NavaneethaDev commented on #268
@ValerasNarbutas To identify internal user or external user we could use this property **_spPageContextInfo.isExternalGuestUser** which returns true or false for current logged in user.

[2020-02-28 16:43] kmprasad4u commented on #282
Here is a simplified version...

![AppCustomizerOrder](https://user-images.githubusercontent.com/48886361/75567329-5c0a2c00-5a77-11ea-9bd7-7e5573f341a5.PNG)

Need the "notification" to be always present at top, irrespective of which customizer loads first.

[2020-03-03 14:37] spvjebaraj opened #284 "Use OOB Context Menu in SPFx List View"
Hi,

I am working in SPFx project with custom PnP controls like ListView, Property Pane Multi Selection, Render Field etc. In that, I want to use the OOB context menu which is available in any of document libraries.

Is it possible to use the OOB in our custom solution? Please suggest.

[2020-03-24 07:55] hilfiger1014 opened #291 "When I install this extensions, something error happened"
## Category

- [x] Question
- [ ] Bug
- [ ] Enhancement

When I attempt to install this sample for my testing, I ran into some problems during installation. I list out the error message as follows:: just wondering how to fix it.?

^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
19464 silly saveTree +-- @types/chai@3.4.34
19464 silly saveTree +-- @types/es6-promise@0.0.33
19464 silly save

[2020-04-07 15:52] spo365 opened #299 "Update selected list / Library item value based on popup column value"
- [ ] Question
- [ ] Bug
- [x] Enhancement
- [ ] Sample request

Is there any way we can  update record for selected item using provided pop-up extension form values (people picker and text box , drop down) ?

[2020-04-08 09:13] dips365 opened #300 "SPFx Application Customize is not installed in multiple sub sites"
## Business Requirement
We need to change the SharePoint Site Logo redirect URL. When user click on the Logo from sub site then it should redirected to the site collection landing page.

To achieve this functionality we developed a application customizer and added below code in to it.

[code]

## Category

- [ ] Question
- [x] Bug
- [x] Enhancement
- [ ] Sample request

## Expected or Desired Beha

[2020-04-10 15:06] pensphreak opened #301 "Unmodified sample code fails with TypeScript errors"
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement
- [ ] Sample request

## Expected or Desired Behavior

Running the sample extension react-application-breadcrumb without failing

## Observed Behavior

When I ran it from my work PC, it failed like the code below.  I did same thing on my home PC and it worked fine.  So I copied the entire folder (node_modules and all) from my working PC to my

[2020-04-11 18:28] #301 closed

[2020-04-11 18:29] pensphreak commented on #301
It appears that I had some leftover / misplaced stuff in a directory up one level (hence the ..\node_modules\....). Once I removed that node_modules directory, everything worked just fine

[2020-04-12 01:22] hugoabernier commented on #283
@jeevabharathy  we'll need more information than this to be able to help.

Can you please open another issue and take the time to fill the issue template so that we can route your issue properly?

Thanks in advance

[2020-04-12 01:22] #283 closed

[2020-04-12 01:28] hugoabernier commented on #268
@NavaneethaDev did you ever resolve this issue?

I'll go ahead and close this as there has been no activity for a while, but feel free to re-open the issue if you need more help.

[2020-04-12 01:28] #268 closed

[2020-04-12 01:29] #260 closed

[2020-04-12 01:41] #96 closed

[2020-04-12 01:41] #103 closed

[2020-04-12 01:43] hugoabernier commented on #107
Hey @sakhradam  did you ever resolve this issue?

I'll go ahead and close this as there has been no activity for a while, but feel free to open re-open the issue if you need more help.

[2020-04-12 01:43] #107 closed

[2020-04-12 01:47] hugoabernier commented on #155
Hey @GodTigga did @FranckyC 's recommendation help you?

I'll go ahead and close the issue. If you need more help, please don't hesitate to open a new issue.

Thanks @FranckyC  for your help with this!

[2020-04-12 01:47] #155 closed

[2020-04-12 01:47] #165 closed

[2020-04-12 01:49] hugoabernier commented on #166
@thomasberman did you ever resolve this issue?

I'll go ahead and close this due to the lack of activity, but feel free to re-open an issue if you still need help.

[2020-04-12 01:49] #166 closed

[2020-04-12 01:51] hugoabernier commented on #167
Hey @cloudedturtle did @vtkachenko 's pull request ever solve your issue?

I'll go ahead and close this, but if you still need more help, please don't hesitate to open a new issue.

Thanks @vtkachenko for your help!

[2020-04-12 01:51] #167 closed

[2020-04-12 01:52] hugoabernier commented on #170
@Mani51 did @harshdamaniahd 's suggestion ever help you solve the issue?

I'll close the issue, but feel free to open a new issue if you still need more help.

Thanks @harshdamaniahd  for your help!

[2020-04-12 01:52] #170 closed

[2020-04-12 01:55] hugoabernier commented on #174
Hey @jcosta33 did you ever solve this issue?

I'll close the issue due to the lack of activity, but feel free to open a new issue if you still need more help. Maybe we'll be able to get a fresh set of eyes on this.

[2020-04-12 01:55] #174 closed

[2020-04-12 01:57] hugoabernier commented on #179
Hey @omega1119 did you ever resolve this issue?

I'll go ahead and close the issue because it is a couple years old, but feel free to re-open it if you need more help.

[2020-04-12 01:57] #179 closed

[2020-04-12 01:59] hugoabernier commented on #187
@BigEaseGueldi did you ever resolve this issue?

I'll go ahead and close it as there has been no activity for a while, but if you're still experiencing issues with this, feel free to open a new issue.

[2020-04-12 01:59] #187 closed

[2020-04-12 02:02] hugoabernier commented on #189
Hey @TaurahSP did you ever resolve this issue?

I'll go ahead and close it because the issue is over a year old.

If you're still running into the issue, I encourage you to open a new issue and take the time to fill the issue template, it'll help us route the issue accordingly

[2020-04-12 02:02] #189 closed

[2020-04-12 04:36] sudharsank commented on #232
Hi @harrychen1
Using **event** param from the **onListViewUpdated** method, you can show or hide the command button based on the item selected is a folder or file. Please refer to the screenshot below.
![image](https://user-images.githubusercontent.com/10280385/79060615-cdb1d880-7cb9-11ea-890c-0aa5428ecba7.png)
In the above screenshot, I am using the **FSObjType** which is returned as a property o

[2020-04-12 08:14] BigEaseGueldi commented on #187
@hugoabernier - yes, that's an old one. The "challenge" still remains, but this is not the right place for it. Thanks for the housekeeping!

[2020-04-19 14:50] spo365 commented on #299
I fixed this.

[2020-04-19 14:50] #299 closed

[2020-04-20 15:32] dvselva opened #305 "Adding large footer using application customizer causing the main content section become small small with vertical scroll bars."
Hello

i added custom footer via application customizer place holders. my footer height is large and it takes up the majority of the content space. i want to footer to be visible when i scroll down the page all the way. this application customizer footer not behaving like out of the box footer.

Here is the screen show how my page looks with custom footer and scroll bar shows up in the content are

[2020-04-20 17:16] hugoabernier commented on #305
Hey @dvselva , you can try to [pre-allocate space](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/extensions/basics/preallocated-space-placeholders#defining-pre-allocation-by-using-the-tenant-wide-deployment-option). It may help, but in general there are limitations for the size your headers/footers can take.

See [considerations](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/extensio

[2020-04-20 18:08] dvselva commented on #305
Thank you @hugoabernier. this helps with delay in loading the placeholders.  thanks for this as i did not know about this properties. But it did not solve my issue though. i think this placeholder should behave same like out of the box footer and this should start showing up when i go to the end of the page.

Thanks again for your response.

[2020-04-21 02:46] sudharsank commented on #305
@dvselva maybe you can try using the collapse and expand like the same as used in sp-starter-kit, so that it will not occupy much of the main placeholder area by default, if the user want to see the footer, they expand the footer.

[2020-04-21 19:22] dvselva commented on #305
Hi @sudharsank , Thanks. ended up doing like it.  but still its not optimal as we need to do one extra click and if it behave  like out of the box footer, it would be ideal.

[2020-04-21 19:51] hugoabernier commented on #305
I'm glad you were able to resolve it @dvselva -- although your solution isn't exactly what you wanted.

I'll go ahead and close the issue. If you need anything else, please don't hesitate to open a new issue.

Thanks @sudharsank for your help with this!

[2020-04-21 19:51] #305 closed

[2020-04-23 02:42] hugoabernier commented on #305
@dvselva you may want to keep an eye on this Roadmap status: https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=61063 to see if/how it will affect footer placeholders in the future.

[2020-04-26 02:00] #281 closed

[2020-04-26 03:00] #118 closed

[2020-04-29 16:09] jbranders commented on #227
Related to custom scripts are disabled on the site.
I ran following commands and everything works perfectly.

- Execute the command
  Connect-SPOService -Url https://tenant-admin.sharepoint.com

- Execute the command below with the URL for the modern site collection
   Set-SPOSite -Identity https://tenant.sharepoint.com/sites/contoso -DenyAddAndCustomizePages 0

[2020-04-29 16:09] #227 closed

[2020-04-29 19:33] hugoabernier commented on #232
@harrychen1, @sudharsank's approach is exactly the same approach I would have suggested.

I hope this takes care of your issue?

I'll go ahead and mark this issue as closed, but absolutely feel free to re-open it if you still need help with this.

Thanks @sudharsank for your help!

[2020-04-29 19:33] #232 closed

[2020-05-01 16:27] sudharsank commented on #282
Hi @kmprasad4u
Can you make it both combined in a single application customizer. You can design the notification component on the top followed by the menu. So you don't have to worry about the loading sequence.

[2020-05-01 16:35] sudharsank commented on #209
Hi @enti333
I don't think so that you can position the command button, since there is no property available to set it via the '**elements.xml**' or '**clientsideinstance.xml**'.
Regarding the display of the button based on the content type, you can look for the item details that is returned whenever an item is selected, based on the content type information you can display or hide the button as yo

[2020-05-01 16:39] enti333 commented on #209
Yes you are right. But I think that this is a base functionallity which is missing. Thank you

[2020-05-01 16:48] sudharsank commented on #114
Hi Everyone,
Can you try the below code, the code also has the custom attributes added to the track.

[code]

[2020-05-02 02:38] sudharsank commented on #300
Hi @dips365
From the above screenshot, it is clear that the app is installed on the site where you are trying to add it again. The error throws on the **version**. Try to empty your **recycle bin** and the **second stage recycle bin** and then try to add the app again. Let us know if you encounter any issues.

[2020-05-02 04:03] kmprasad4u commented on #282
Yes that is what we are doing for now as we have control over both solutions. There may be instances where that may not be true.

[2020-05-02 04:28] dips365 commented on #300
@sudharsank
I tried it all the way.
When i installed Application Customizer in Site collection and i have not deleted so it is not in recycle bin.
Now when i trying to install the same application customizer to Sub site of that site collection it shows me error.

[2020-05-02 07:50] sudharsank commented on #300
Hi @dips365
I have a site named **/sites/ModernDev** and i have a separate site collection **App Catalog**. I had uploaded the extension app to the site collection app catalog, when I tried to add the app to the above mentioned site, it throws me the same error that you had mentioned. The only think I did was to clear the already deleted app from the site recycle bin and it automatically started i

[2020-05-02 13:30] sudharsank commented on #114
Hi Everyone,
I think I found the solution, try the below and let me know
Install the following modules
1. **@microsoft/applicationinsights-react-js**
2. **@microsoft/applicationinsights-web**
3. **history**

Copy the below code to **OnInit** method
[code]
You can track all the react routing. Please refer the below link for more details
https://docs.microsoft.com/en-us/azure/azure-monitor/app/javas

[2020-05-03 05:59] dips365 commented on #300
@sudharsank
Please follow below steps to reproduce the issue.
Reproduce Scenario 1:
1. Take any site collection called /sites/test
2. Add Application extension in site collection and it work deployed successfully.
3. Now create a sub site in /sites/test/sub1
4. Now try to add application extension and it throws error.

Reproduce Scenario 2:
1. Create a sub site  called sites/test/sub1
2. Install a

[2020-05-03 12:22] sudharsank commented on #300
@dips365
I tried the scenarios that you had mentioned and it all works fine. Yes you can add the extension in the subsites and there shouldn't be any problem on that.
FYI, I am using **Site Collection App Catalog** not the tenant wide app catalog.
My suggestion is to uninstall the extension in the site collection and in subsites if it is installed already, clean the 2 stages of recycle bin in the

[2020-05-05 21:18] Gennady-G opened #310 "jquery-application-toastr, no icons if I use CSS iconClasses in Online"
## jquery-application-toastr

## Authors
Chris Kent (thechriskent.com, @thechriskent)

## Expected or Desired Behavior

Greetings! I adopted code from this sample to work in webpart
https://github.com/SharePoint/sp-dev-fx-extensions/tree/master/samples/jquery-application-toastr

and if I use it in on-premise 2019 - it works like a charm, and icons are displayed like in this picture:

![1-2020-05-0

[2020-05-06 11:34] Gennady-G commented on #310
I uploaded test project with react webpart, that illustrates it:
https://github.com/rockietm/react-webpart-toastr-2019-and-online

1 - Local worbench
![1-local-workbench-2020-05-06_151548](https://user-images.githubusercontent.com/5569346/81172299-08541b80-8faf-11ea-9f30-232e9adfc134.png)

2 - remote on-premise worbench
![2-on-prem-2020-05-06_151640](https://user-images.githubusercontent.com/55693

[2020-05-06 15:28] Gennady-G commented on #310
Well, finally I hanen't found the way to make Office UI icons visible, so I got, rid of them and replaced them with base64.

Also added global styles (I am newbie, not sure it is best-practice, but this dirty workaround works).

So toastr options now looks like:

[code]

and in SCSS file:

[code]
And now it works:

![fixed-icons-2-2020-05-06_190656](https://user-images.githubusercontent.com/556934

[2020-05-06 15:28] #310 closed

[2020-05-07 10:54] jok0 opened #311 "React-App-Announcements failing NPM Install"
## Expected or Desired Behavior
1) When running `npm install` all prereqs should install

## Observed Behavior
1) When running `npm install` the below output is generated:

 PS C:\Users\Joe\Documents\Sharepoint\sp-dev-fx-extensions\samples\react-app-announcements> `npm install `

Any help on this would be great.  I have tried to debug the issues myself and also ran the `npm install --global --prod

[2020-05-15 14:03] Gennady-G commented on #310
Updated example solution with working icons:
https://github.com/rockietm/react-webpart-toastr-2019-and-online

[2020-05-16 09:25] #300 closed

[2020-05-20 19:01] jayaborra320 opened #312 "npm install fails for react-field-toggle sample"
Expectation: When running npm install all prereqs should install

Result:
npm WARN deprecated sp-pnp-js@2.0.8: Please migrate to the new libraries. More info: https://aka.ms/sp-pnp-js-deprecated
npm WARN tar ENOENT: no such file or directory, open 'C:\Users\E0\source\sp-dev-fx-extensions\samples\react-field-toggle\node_modules\.staging\wrappy-3029caee\package.json'
npm WARN tar ENOENT: no such fil

[2020-05-21 08:41] hugoabernier commented on #191
@memsim1010 try running `npm i` from the root folder of the project (I.e. one level up) then `gulp serve`.

Let us know if you solved this issue.

[2020-05-21 08:45] hugoabernier commented on #207
@selvaag did you ever resolve this issue with @jcosta33 's suggestion?

I'll go ahead and close it as there has been no activity here for a while. Feel free to open a new issue to the sp-dev-docs repository if you're still running into this problem, as this repository is for extension samples -- not general SharePoint development.

[2020-05-21 08:45] #207 closed

[2020-05-24 09:00] #191 closed

[2020-05-29 16:20] anisiaalexandra opened #315 "Spfx field customizer for managed metadat field"
Hi,

I have been trying to create a simple Spfx field customizer and tried to get related info with @pnp/sp-taxonomy. I constantly get the following issue and the field no longer get rendered. I cannot acces debug in this case. I have verified if it is the async calls but other async calls to Graph for example work. Do you have any idea of what can be wrong? Thank you in advance for your help.
Cod

[2020-05-31 20:07] #209 closed

[2020-05-31 20:09] hugoabernier commented on #210
@enti333 did you ever resolve this issue?

This issue list is intended for issues related to extension samples in this repo. If you're still experiencing this issue, feel free to open a new issue at https://aka.ms/spdev-issues

[2020-05-31 20:09] #210 closed

[2020-05-31 20:10] hugoabernier commented on #214
@DanishIslam07 did you ever resolve this issue?

I'll close it as this issue list is intended for issues related to samples in this repository. If you're still experiencing issues, feel free to open a new issue at https://aka.ms/spdev-issues

[2020-05-31 20:10] #214 closed

[2020-05-31 20:13] hugoabernier commented on #219
@kachihro did you ever resolve this issue?

I'll go ahead and close this issue as this issue list is intended for issues related to the samples in this repository. If you're still having problems, feel free to open a new issue at https://aka.ms/spdev-issues

[2020-05-31 20:13] #219 closed

[2020-05-31 20:14] hugoabernier commented on #236
@Divyeshkotadia did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you still need help, please open a new issue.

[2020-05-31 20:14] #236 closed

[2020-05-31 20:15] hugoabernier commented on #230
@pradeepG43 did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing issues, feel free to open a new issue.

[2020-05-31 20:15] #230 closed

[2020-05-31 20:16] hugoabernier commented on #90
@dadanepal did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing issues, feel free to open a new issue. If you re-open the issue, make sure to fill the issue template so that the original author gets notified, and hopefully can help you.

[2020-05-31 20:16] #90 closed

[2020-05-31 20:17] hugoabernier commented on #88
@patrickabel  did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing issues, feel free to open a new issue. If you do, please fill the issue template so that the original author gets notified, and hopefully we can get you the help you need.

[2020-05-31 20:17] #88 closed

[2020-05-31 20:18] hugoabernier commented on #109
@infradsm  did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing issues, feel free to open a new issue. If you do, please make sure to mention the original author so that they get notified and -- hopefully -- get you the help you deserve.

[2020-05-31 20:18] #109 closed

[2020-05-31 20:20] hugoabernier commented on #172
@sabitertan I'll go ahead and close this issue as it appears to relate to general SPFx development.

If you still need help with this, please open a new issue at https://aka.ms/spdev-issues. This issue list is intended for issues related to samples in this repository.

[2020-05-31 20:20] #172 closed

[2020-05-31 20:20] hugoabernier commented on #113
@clechner77  did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing issues, feel free to open a new issue.

[2020-05-31 20:20] #113 closed

[2020-05-31 20:21] #114 closed

[2020-05-31 20:21] hugoabernier commented on #175
@Ofer-Gal  did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing issues, feel free to open a new issue.

[2020-05-31 20:21] #175 closed

[2020-05-31 20:22] hugoabernier commented on #186
@spverma03  did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing issues, feel free to open a new issue.

[2020-05-31 20:22] #186 closed

[2020-05-31 20:24] hugoabernier commented on #190
Closing this issue as incomplete.

If you're still experiencing this issue, please open a new issue. If you do, please take the time to fill the issue template provided so that we can get you the help you deserve.

[2020-05-31 20:24] #190 closed

[2020-05-31 20:24] hugoabernier commented on #216
Closing this issue as incomplete.

If you're still experiencing this issue, feel free to open a new issue. When you do, please take the time to fill the issue template that is provided so that we can help you accordingly.

[2020-05-31 20:24] #216 closed

[2020-05-31 20:25] hugoabernier commented on #201
@clohigh did you ever resolve this issue with @MichaelDell 's suggestion?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing issues, feel free to open a new issue.

Thanks @MichaelDell for your help with this one.

[2020-05-31 20:25] #201 closed

[2020-05-31 20:25] hugoabernier commented on #208
@selvaag  did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing issues, feel free to open a new issue.

[2020-05-31 20:25] #208 closed

[2020-05-31 20:26] hugoabernier commented on #211
@clohigh  did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing issues, feel free to open a new issue.

[2020-05-31 20:26] #211 closed

[2020-05-31 20:26] hugoabernier commented on #222
@CodingSinceThe80s  did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing issues, feel free to open a new issue.

[2020-05-31 20:26] #222 closed

[2020-05-31 20:27] hugoabernier commented on #224
@TashunkoWitko  did you ever resolve this issue with @gristy58 's suggestion?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing issues, feel free to open a new issue.

[2020-05-31 20:27] #224 closed

[2020-05-31 20:28] hugoabernier commented on #225
@ManuMora9  did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing issues, feel free to open a new issue. If you do, please make sure to mention the author in the issue template so they can get notified and -- hopefully -- help you with this.

[2020-05-31 20:28] #225 closed

[2020-05-31 20:32] hugoabernier commented on #228
@bumblebee333 according to [this article](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/compatibility), you can use extensions on SP 2019 as long as your solution uses SPFx 1.4.1 or lower.

You may have to create a new extension using `yo @microsoft/sharepoint` using SPFx 1.4.1 and replicate the functionality you're looking for.

I hope this helps?

[2020-05-31 20:34] hugoabernier commented on #239
@jurivero did you ever resolve this issue?

I'll go ahead and close it as there has been no recent activity here. If you still need help with this, please open a new issue so that we can get you the help you need. If you do, I encourage you to take the time to fill the issue template provided so that the original author of the sample can get notified.

[2020-05-31 20:34] #239 closed

[2020-05-31 20:35] hugoabernier commented on #237
Closing this issue as incomplete.

If you're still experiencing this issue, feel free to open a new issue. If you do, please take the time to fill the issue template provided so that we can get you the help you deserve.

[2020-05-31 20:35] #237 closed

[2020-05-31 20:37] hugoabernier commented on #245
@ikmoss did you ever resolve this issue?

I'll go ahead and close it as this issue list is intended for issues related to extension samples in this repository.

If you still need help with this, please visit https://aka.ms/spdev-issues

[2020-05-31 20:37] #245 closed

[2020-05-31 20:38] hugoabernier commented on #251
Closing this issue as it does not relate to samples in this repository.

If you're still experiencing issues, please feel free to open a new issue at https://aka.ms/spdev-issues

[2020-05-31 20:38] #251 closed

[2020-05-31 20:39] hugoabernier commented on #257
@Gennady-G did you ever resolve this issue?

I'll go ahead and close this issue as there has been no activity here for a while. If you're still experiencing problems, feel free to open a new issue.

[2020-05-31 20:39] #257 closed

[2020-05-31 20:41] hugoabernier commented on #266
@vasanthtt  did you ever resolve this issue?

I'll go ahead and close this issue as there has been no activity here for a while. If you're still experiencing problems, feel free to open a new issue. Please note that this issue list is intended for issues related to samples in this repository. For general SPFx development issues, please visit aka.ms/spdev-issues

[2020-05-31 20:41] #266 closed

[2020-05-31 20:42] hugoabernier commented on #275
@Siri311 did you ever resolve this issue?

I'll go ahead and close this issue as there has been no activity here for a while. If you're still experiencing problems, feel free to open a new issue.

Please note that this issue list is intended for issues related to samples in this repository. For general SPFx development issues, please visit aka.ms/spdev-issues

[2020-05-31 20:42] #275 closed

[2020-05-31 20:43] hugoabernier commented on #279
@mevaibhav83 did you ever resolve this issue?

I'll go ahead and close this issue as there has been no activity here for a while. If you're still experiencing problems, feel free to open a new issue.

[2020-05-31 20:43] #279 closed

[2020-05-31 20:45] hugoabernier commented on #282
@kmprasad4u did you ever resolve this issue?

I'll go ahead and close this issue as it appears (somewhat) answered. If you still need help with this, please open a new issue.

[2020-05-31 20:45] #282 closed

[2020-05-31 20:46] hugoabernier commented on #284
@spvjebaraj did you ever resolve this issue?

This issue list is intended for issues related to samples in this repository. If you're still experiencing issues, please feel free to open a new issue at aka.ms/spdev-issues

[2020-05-31 20:46] #284 closed

[2020-05-31 20:48] hugoabernier commented on #291
Closing this issue as incomplete. If you're still experiencing this issue, please take the time to fill the new issue template that's provided so we can help you accordingly.

[2020-05-31 20:48] #291 closed

[2020-05-31 20:50] hugoabernier commented on #311
@jok0 this smells like a version incompatibility issue. Can you try to run [spfx doctor](https://pnp.github.io/office365-cli/cmd/spfx/doctor/) to see if there is an issue with your environment/project and report the results here?

[2020-05-31 20:51] hugoabernier commented on #312
Closing this issue as incomplete.

In order to be able to help you, you'll need to fill the information requested in the new issue template.

We look forward to be able to help you with this.

[2020-05-31 20:51] #312 closed

[2020-05-31 20:52] hugoabernier commented on #315
@anisiaalexandra this issue list is intended for issues related to samples in this repository.

I encourage you to open a new issue at aka.ms/spdev-issues so that we can get you the help you deserve.

[2020-05-31 20:52] #315 closed

[2020-06-02 11:16] anisiaalexandra commented on #315
@hugoabernier Thank you for the answer and for pointing my in the right direction.
For follow up I added this issue: [https://github.com/SharePoint/sp-dev-docs/issues/5816](here) .

[2020-06-03 11:21] inehme opened #316 "react-send-document gulp serve error Property 'onChanged' does not exist on type 'IntrinsicAttributes & ITextFieldProps & { children?: ReactNode;"
I am getting the error below on gulp serve. Any suggestion or solution? Thanks

Error - [tsc] src/extensions/sendDocument/components/SendEMailDialogContent/SendEMailDialogContent.tsx(42,26):
error TS2322: Type '{ label: string; required: true; value: string; onChanged: (text: string) => void; }' is not assignable to type 'IntrinsicAttributes & ITextFieldProps & { children?: ReactNode; }'.
[20:49:5

[2020-06-10 01:25] ikmoss commented on #245
I have logged MS Premiere support - they confirmed it and know how to replicate this issue and will work on the issue with Product team.

[2020-06-14 21:00] #311 closed

[2020-06-14 21:00] #228 closed

[2020-06-14 21:07] hugoabernier commented on #316
Closing this issue as incomplete.  If you're still experiencing this issue, feel free to open a new issue and fill the issue template provided so that we can help you accordingly.

Please note that sample authors do not get notified unless you fill the required sections in the issue template.

Thanks for your understanding

[2020-06-14 21:07] #316 closed

[2020-06-16 08:16] mohsinhere commented on #114
Hi,

Does this work fine for you? I'm using a similar solution... But now my Sharepoint Routing itself fails. I have raised an issue in app insights library...

https://github.com/microsoft/ApplicationInsights-JS/issues/1294

[2020-06-16 10:43] sudharsank commented on #114
Hi @mohsinhere, have you tried the extension that I had mentioned in my reply. Please feel free to go through the code. It works fine for me. I had tested with the out-of-box news items.

[2020-06-16 12:44] mohsinhere commented on #114
@sudharsank  Thanks for the quick response... Yes, I'm using all the packages that you mentioned. Still, it breaks for some reason with error
**Uncaught RangeError: Maximum call stack size exceeded**

I tried your code to see if it makes any difference.
[code]

[2020-06-17 16:37] thespooler commented on #311
I also couldn't get it to build, that's part of why I made react-application-announcements.
You might want to take a look.

[2020-06-19 08:20] tienou commented on #310
Thanks @Gennady-G 👍

[2020-06-23 20:07] teresahoes commented on #267
i am still seeing this issue w/ 1.51 version of spfx.  what is the resolution? do i have to upgrade to a newer version of spfx or was it something not rolled out to our tenant?

[2020-07-02 20:27] lrolseth opened #320 "react-application-machine-translations - Get entire page text?"
react-application-machine-translations

Question: Do you know how to get the entire page text of a modern SharePoint site to translate?
I have this example running successfully and it pulls the ClientsideText controls on the page.  I'd like to pull all text that is displayed on the page and translate it. Is this possible?

[2020-07-02 22:51] ikmoss opened #321 "ListView Command Set - Doesn't load always when navigate from home page"
NOTE: this issue exists in Targeted Released environment. I want to stop this change going into production!

## Expected or Desired Behavior
Listview command should appear all the time

## Observed Behavior
Listview command doesn't appear when navigated from home page from the left navigation link. Once Listview extension JS file is loaded/cached the problem doesn't appear but when you refresh the

[2020-07-07 18:24] TracyGH opened #322 "Office UI Fabric CSS Override - Differences in Debug vs Deployed Package"
## Sample (which sample are you having trouble with)
https://github.com/pnp/sp-dev-fx-extensions/tree/master/samples/js-application-alert-message

## Authors
@sudharsank

## Expected or Desired Behavior
I expect the height of the Extension container to be 30 pixels high.  I also expect the container heights to match, whether I'm running the project in debug mode or whether it is deployed to the te

[2020-07-08 03:11] sudharsank commented on #322
Hi @TracyGH,
When I showed the solution demo, I deployed to the comms site with height as **35px**. Can you please check the height in the below files.
1. PreallocatedTopPlaceholder height in **elements.xml** in sharepoint --> assets folder. If you are using tenant wide then please verify the **ClientSideInstance.xml** too.
2. height style in **GlobalAlerts.module.scss**

If the heights are same o

[2020-07-08 16:26] TracyGH commented on #322
Thanks @sudharsank,

I did not make any changes to the GlobalAlerts.module.css file from the repo, which is currently showing a height of 30 pixels (see below).  It looks like your .ms-SPLegacyFabricBlock DIV wrapper is overriding the container height with an inline value of 35 pixels, rather than 50.  If you take a look at the issue I referenced, it looks like there are different things going on

[2020-07-09 06:07] gauravgoyal5 opened #323 "URL mentioned on the page is not working"
## Extensions sample home page on Github

## PnP Authors

## Expected or Desired Behavior
The link http://dev.office.com/sharepoint should work which is mentioned here :
![image](https://user-images.githubusercontent.com/6926513/87002888-2ec54b80-c1d8-11ea-9fec-37e6cbf82cda.png)

## Observed Behavior
When clicking on the link, It is showing error :
This site can’t be reacheddev.office.com’s server

[2020-07-10 05:00] sudharsank commented on #322
Hi @TracyGH
I had updated the sample with more properties and issue fix. Raised a pull request to be merged with master dir. Please let me know once you had deployed the latest from the samples.
Let me know if you have any issues with the sample. Sorry for the inconvenience.

[2020-07-10 05:02] sudharsank commented on #322
Hi @hugoabernier, you can assign this issue to me and I had already raised a pull request for the issue fix.

[2020-07-10 05:34] #322 closed

[2020-07-19 22:01] hugoabernier commented on #323
Thanks @gauravgoyal5, I've made the changes to solve this issue.

[2020-07-19 22:01] #323 closed

[2020-07-20 05:26] AJAYSIRANGI27 opened #326 "Lodash-2.4.2.js version vulnerabilities in SPFX while using White source Bolt in CI/CD Pipeline."
Hi All,

i am developing solutions for SharePoint Server 2019 or SharePoint Online in refer to https://github.com/pnp/sp-dev-fx-extensions/tree/master/samples/react-aadtokenprovider-bot

When i tried to create a CI/CD pipeline for the solution with following versions of node  and  npm.

_versions_
Node--10.x
npm-6.14.4

_Commands_
npm install
gulp clean
gulp build
gulp bundle --ship
gulp package-s

[2020-07-20 06:39] naveenwinsome commented on #326
Hi,

Just to add what @AJAYSIRANGI27 has mentioned. We are using this solution to deliver SPFX Chatbot on Modern SharePoint to a U.S Govt agency. We have also got into some GPL 2.0 license issues with the solution. It would be really helpful if you can provide a direction.

![gpl2 0](https://user-images.githubusercontent.com/8735346/87907129-a2414580-ca81-11ea-96bc-21fa8208057a.png)

![gpl2 0_1](h

[2020-07-20 14:04] johannes-z commented on #267
@oliverlp Still an issue using SPFx 1.11, targetting SPO.

[2020-07-20 15:52] hugoabernier commented on #267
@johannes-z @teresahoes the `selectedRows` prop is intended to return a reference to a list item rows, not an HTML table row. Hence, it works as expected.

For example, you can get the relativeUrl of a selected file in a document library by calling:
[code]

While there is no matching HTML attribute.

This issues list is intended for issues related to sample extensions in this repository. Please re

[2020-07-21 07:34] johannes-z commented on #267
@hugoabernier That's not the issue.

If you pin a document in a library, the `event.selectedRows` is an array of all the pinned documents (I think), rather than the actually selected ones. At least in my case, `event.selectedRows` was always an array of references to the pinned documents, rather than the selected rows in the ListViewWebPart. I've opened a issue here: https://github.com/SharePoint/

[2020-07-21 08:00] OPIG commented on #322
Hi @sudharsank

I'm using sp-office-ui-fabric-core in SPFx project, the css was load successfully in Dev Env, but can't be load in Pro Env.

I have import sp-office-ui-fabric-core in my scss file. and i can see the style in my scss file but no SPFabricCore.scss content in Pro Env.
@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

[2020-07-23 09:25] prabhu8323 commented on #300
I am also facing same issue.

Scenario to reproduce:
- Deployed the Application customizer in Global App Catalog site.
- Installed the App in Site Collection and sub site in it.
- Created the new subsite in this site collection
- It throws the error

Please suggest if we have any concrete solution.

[2020-08-20 07:40] iMinion opened #327 "Bundling solution fails to 'collectLocalizedResources' on Azure DevOps"
## Expected or Desired Behavior
Successful build when "gulp bundle --ship" command is ran on Azure DevOps

## Observed Behavior

On Azure DevOps, when I run gulp bundle --ship, it fails with the following error
![image](https://user-images.githubusercontent.com/6015582/90728057-deb2cc00-e2e1-11ea-9038-ca15e6893f4d.png)

## Steps to Reproduce

Steps to reproduce the behavior:

We've set up an Azure

[2020-08-20 13:23] hugoabernier commented on #327
@iMinion this issue list is intended for issues related to samples in this repository. I would recommend that you open this issue with the sp-dev-docs repository, where you'll most likely get the help you need.

Thank you!

[2020-08-20 13:23] #327 closed

[2020-08-20 13:25] hugoabernier commented on #321
@ikmoss  this issue list is intended for issues related to samples in this repository.

I would recommend that you re-open this issue in the sp-dev-docs repository, where you'll most likely get the help you need.

Thank you!

[2020-08-20 13:25] #321 closed

[2020-08-20 13:35] hugoabernier commented on #326
@AJAYSIRANGI27 the sample you are referring to was written in 2018. At the time it was published, it was reviewed for potential exploits.

Packages are constantly scanned for exploits and vulnerabilities; a solution that may not have any discovered vulnerabilities in 2018 may no longer be considered safe.

You should always ensure to review and update your solutions (especially open-source ones) b

[2020-08-20 13:35] #326 closed

[2020-08-20 13:39] hugoabernier commented on #320
@lrolseth did you ever get a resolution to this issue?

I'll go ahead and close the issue. If you'd still like help with this, please don't hesitate to open a new issue. When you do, please take the time to fill the issue template with all the required sections so that we can help you better,

Keep in mind that authors are not automatically notified unless you fill the template completely.

Thanks

[2020-08-20 13:39] #320 closed

[2020-08-20 16:16] iMinion commented on #327
Thank you @hugoabernier will check there!

[2020-08-28 10:37] honb opened #328 "Critical issue - SP Online some standard command buttons does not work when ListViewCommandSet is installed"
- Tried to run "**react-command-direct-link**" at local page by adding "**?debugManifestsFile=....**" params
- Or install ListViewCommandSet in app catalog

If command bar button is visible then Delete button will not work.
Tested with Document Library view "Shared Documents/Forms/AllItems.aspx", there is a custom command bar that always visible then "**Create new folder**" and "**Delete**" button

[2020-08-28 11:26] hugoabernier commented on #328
Thanks for reporting the issue,  @honb , but we can't help you if you don't provide us with all the information we request in the issue template.

I'll mark the issue as closed, but please feel free to create a new issue and provide all the details from the issue template so that we can help you accordingly.

Thanks for your understanding

[2020-08-28 11:26] #328 closed

[2020-08-28 15:52] dandansoy2004 commented on #311
HELP! Got error on the last step...

Add-PnPCustomAction : A positional parameter cannot be found that accepts argument '-ClientSideComponentProperties={&quot;listName&quot;:&quot;Announcements&quot;, &quot;siteUrl&quot;:&quot;/sites/ComSite&quot;}'.

[2020-08-28 16:23] dandansoy2004 commented on #311
Can't make this work! Help..

Add-PnPCustomAction -Name "Announcements" -Title "Announcements" -Location "ClientSideExtension.ApplicationCustomizer" -ClientSideComponentId "dd7ec4fd-97aa-44c5-b6ad-87535862e0bf" -ClientSideComponentProperties="{&quot;listName&quot;:&quot;Announcements&quot;, &quot;siteUrl&quot;:&quot;/sites/Contoso&quot;}"

[2020-09-08 10:19] tony-philipose commented on #267
I have the same issue : `event.selectedRows` is an array of all the pinned documents rather than the actually selected ones.

[2020-09-08 20:05] oliverlp commented on #267
The bug is back in my tenant. This is really a problem. The users execute a command against the wrong document.

[2020-09-08 21:09] #267 closed

[2020-09-08 21:15] hugoabernier commented on #267
This issue list is intended for issues related to extension samples in this repository. It isn't monitored by support staff.

You may want to open an issue with https://github.com/SharePoint/sp-dev-docs/issues instead

[2020-10-04 08:03] honb opened #335 "react-command-qrcode: Dialog could not be shown"
## Sample
https://github.com/pnp/sp-dev-fx-extensions/tree/master/samples/react-command-qrcode

## Expected or Desired Behavior
Dialog should be shown when clicking on command bar

## Observed Behavior
Dialog could not be shown (Error: The value for "domElement" must not be undefined)

## Steps to Reproduce
1. Clone: https://github.com/pnp/sp-dev-fx-extensions/tree/master/samples/react-command-qrc

[2020-10-06 12:41] PravinD5989 commented on #245
@ikmoss @hugoabernier @PiotrNSmartlogic I also have this problem. Did you find some resolution for this issue.

[2020-10-30 10:28] sunnyEspireGit opened #337 "can we use states(react) in SPFx extensions ?"
## Spfx extensions

## @VesaJuvonen @waldekmastykarz

## Question (can we use states(react) in SPFx extensions ? )

## Question :  I have a requirement where i need to :
 1. create a button on top header of page using SPFx extension,
 2. after clicking on it should open a Panel,
 3. inside that panel i want to create things we do in SPFx react webpart(creating
    controls,setting their values cre

[2020-10-30 12:34] hugoabernier commented on #337
@sunnyEspireGit yes you can. Your rendered react elements are just like any other react components and can use state.

[2020-10-30 14:15] sunnyEspireGit commented on #337
@hugoabernier : Could you please help me with any article of github project from where i can take reference ?

[2020-10-30 15:28] hugoabernier commented on #337
@sunnyEspireGit here are some samples you may want to look at:
[react-application-machine-translations](react-application-machine-translations) uses an application extension to add a button to a page
[react-application-myfavourites](https://github.com/pnp/sp-dev-fx-extensions/tree/master/samples/react-application-myfavourites) adds buttons to pop open a panel.
[react-application-myfollowedsites](h

[2020-10-30 15:28] #337 closed

[2020-11-06 09:48] DingmaomaoBJTU opened #339 "react-application-breadcrumb: File name to long to clone"
## Sample (which sample are you having trouble with)
react-application-breadcrumb
## Authors
Elio Struyf (MVP, U2U, @eliostruyf)

## Expected or Desired Behavior
sp-dev-fx-extensions can be cloned under some sub folder

## Observed Behavior
samples/react-application-breadcrumb/temp/workbench-packages/@microsoft_sp-webpart-workbench/lib/components/mobilePreview/mobilePreviewHeaderBar/mobilePreviewD

[2020-11-29 06:00] hugoabernier commented on #339
@DingmaomaoBJTU this is a common issue with Windows 10. Try cloning the repository on a really short file path. For example, I'll use: `c:\spfx\` or `c:\code` to workaround.

Unfortunately, the naming convention we use for samples tends to generate very long file names which results in the error in Windows.

[2020-11-29 06:00] #339 closed

[2020-11-29 07:09] hugoabernier commented on #335
Hey @honb, I can't reproduce this problem. There is no `RegistrationId` in `ClientSideInstance.xml`.

Are you still running into this issue?

[2020-12-13 09:00] #335 closed

[2020-12-15 22:33] vinaybangari1 opened #345 "React application announcements extension not working/loading in ie11 browser"
I downloaded the package and run npm install locally and globally in the project, the project build and deployed to our tenant successfully and working as expected in chrome and Firefox but the problem is not working/loading in IE11 browser, any idea or thoughts will be appreciated.

[2020-12-22 00:47] thespooler commented on #345
If you're talking about react-application-announcements, sadly you might be out of luck.

I did try IE and it is indeed broken, but I won't be the poor soul trying to fight IE debugger. A look at the console didn't show any error that was related to any custom code, only a `SCRIPT5009: 'exports' is undefined in activityMonitor.js (25,1)`, which is first-party.

Perhaps a polyfill might fill the ga

[2020-12-26 01:09] ManjulaMasthanvali09 commented on #311
this is not working at all

[2020-12-26 01:28] hugoabernier commented on #311
@ManjulaMasthanvali09 feel free to open a ticket describing your issue and we'll try to help you.

[2021-01-18 19:59] ericpskl opened #350 "react-application-machine-translations: Unable to package "react-application-machine-translations""
## react-application-machine-translations

## @agtenr

## How to create sppkg?

Steps followed:
1) git clone & npm install
2) Test using "gulp serve" -- works perfectly
3) Attempt to create a sppkg file by running the following commands:

[code]

The "gulp bunde --ship" command completes successfully, however "gulp package-solution --ship" dies with:

[code]
Dev station is running Win10 with npm 6

[2021-01-19 17:22] agtenr commented on #350
@ericpskl , thanks for reaching out. I indeed see that the /sharepoint/assets folder is missing from the code. This folder contains the elements.xml with the configuration settings. I will look into this issue.

@hugoabernier can this be assigned to me? I will investigate and provide a PR with a fix.

[2021-01-20 19:31] ceaheart opened #351 "react-command-print: Unable to package - issue with Typestyle"
## Sample (which sample are you having trouble with)
React-command-print

## Authors
Unknown

## Expected or Desired Behavior
After pulling the latest, running npm install and then gulp bundle, solution should build with no errors

## Observed Behavior
Two errors with module "typestyle":

[14:29:55] Error - [tsc] node_modules/typestyle/lib/index.d.ts(13,45): error TS1110: Type expected.
[14:29:55]

[2021-01-23 19:19] hugoabernier commented on #345
Closing this question as answered. Sadly, it is probably not the answer you wanted.

If you need any more help, please don't hesitate to create a new issue.

[2021-01-23 19:19] #345 closed

[2021-01-24 01:04] #350 closed

[2021-02-01 13:10] ceaheart commented on #351
Has anyone been able to reproduce this? @hugoabernier

[2021-02-01 13:59] hugoabernier commented on #351
You should try building the solution using `gulp build` before running `gulp bundle`

[2021-02-03 02:06] ceaheart commented on #351
I get the same errors when I do a gulp build:

PS C:\PNP\sp-dev-fx-extensions-master\samples\react-command-print> gulp build
Build target: DEBUG
[21:06:28] Using gulpfile C:\PNP\sp-dev-fx-extensions-master\samples\react-command-print\gulpfile.js
[21:06:28] Starting gulp
[21:06:28] Starting 'build'...
[21:06:28] Starting subtask 'configure-sp-build-rig'...
[21:06:28] Finished subtask 'configure-sp-

[2021-02-03 03:09] hugoabernier commented on #351
Yes, I was able to reproduce the problem you're experiencing. It looks like the issue is with a package called `typedstyle`, which is used to create dynamic CSS classes for elements that do not accept a `styles` property and to create type-safe CSS.

Even after temporarily removing references to `typedstyle`, I have found that the extension does not seem to behave as expected; this appears to be l

[2021-02-05 20:53] hugoabernier opened #357 "Sample Request: App Customizer to inject Custom CSS onto Modern UI pages for 2019 On-Prem"
I would like to use App Customizer to inject Custom CSS onto Modern UI pages. I referenced [this](https://github.com/pnp/sp-dev-fx-extensions/tree/master/samples/react-application-injectcss) code to try to make it work on 2019 On-Prem, but ran into many issues.

Any help with the code or guidance would be greatly appreciated.

_Originally posted by @amalwayscharan in https://github.com/pnp/sp-dev-

[2021-02-10 12:39] Ramiz-Arshad opened #359 "react-command-file-size-viewer"
react-command-file-size-viewer.

Hi @jquintozamora ,

I cloned the repository react-command-file-size-viewer and followed the steps mentioned in the repository. When I am running gulp serve -- no browser and adding the url at the end of my document library
**?loadSPFX=true&debugManifestsFile=https://localhost:4321/temp/manifests.js&customActions={"5f509a36-9998-4a5f-a5f4-b7d02d4f90b4":{"location":

[2021-02-10 14:57] hugoabernier commented on #359
@Ramiz-Arshad, we'd love to help you, but in order to do so, we'll need you to fill the bug issue template that's provided -- the one we ask for your environment details, author details, etc.

I'll go ahead and close this issue as incomplete. Feel free to open a new issue so that we can get you the help you deserve.

Thanks for your understanding.

[2021-02-10 14:57] #359 closed

[2021-02-11 05:57] Ramiz-Arshad opened #360 "react-command-file-size-viewer - Issue with Manifest"
## Sample (which sample are you having trouble with)
react-command-file-size-viewer

## Authors
@jquintozamora

## Expected or Desired Behavior
After pulling the latest, running npm install and then gulp bundle, solution should build with no errors and run without any errors.

## Observed Behavior
Faced no error after gulp serve --nobrowser but After running facing error.

![image](https://user-im

[2021-02-24 10:31] sudharsank commented on #351
Hi @ceaheart I was able to replicate the issue. Please try to install **"typestyle": "^2.0.4"** and try to build it. I tried and it worked. I think that there is some issue with that version. Please try and let us know.

[2021-02-24 20:15] psalmond opened #363 "jquery-application-toastr: Setting the opacity to full (1)?"
Hi,

Apologies for asking what might seem like an easy question, but how do I set the Toaster to have an opacity of 1 so it is a solid colour? I have found a file 'lib/extensions/SpfxToastr.module.css' and I can add an 'opacity:1 ' value - I can even set it to 0 so it becomes invisible, but I cannot achieve a solid colour.

I'm sure there is a css file somewhere that will achieve this but I just c

[2021-02-24 22:43] psalmond commented on #363
Actually, I am clearly having a moment, when I was testing this wasn't apparent, but it seems the Toastr becomes solid upon a mouse over. So all good.

Although if anyone happens to know how to change it permanently that would be cool to know.

[2021-02-24 22:45] #363 closed

[2021-03-01 03:34] sudharsank commented on #360
Hi @Ramiz-Arshad the solution has been updated to the latest version and issue is verified too. Please take the latest and try it out and let us know if you got any issues.

[2021-03-08 05:04] sudharsank commented on #357
Hi @amalwayscharan,
I tried the same code with the new project created by choosing SP2019 onwards and SharePoint Online and it works like charm. I haven't done any changes. Following are the files that are copied from the original code. There are couple of warnings because of tslint but it works. Please try it out and let us know the errors if any.

- InjectCssApplicationCustomizer.ts
- ClientSide

[2021-03-11 06:12] #357 closed

[2021-03-15 05:00] #360 closed

[2021-03-18 01:54] ctimoftey opened #369 "Hi , this is about your react-application-breadcrumb which I deployed to a test tenant site collection. It works at the root site collection but for any subsites I need to manually add the app. Is there any way I can deploy to all the sub-sites withing the site collection? Also I noticed when I add the breadcrumb app to a subsite then the breadcrumb is duplicated"
Thank you for your suggestion! Use the sections below to submit a suggestion ONLY if it's related to samples in this repo. If you have an issue or question about the SharePoint Framework or its documentation, please submit it at https://aka.ms/spdev-issues

- Suggestions that do not follow the below template will automatically be closed
- All ideas are welcome - let's build something together!
- T

[2021-03-18 02:12] #369 closed

[2021-03-18 02:28] ctimoftey opened #370 "breadcrumb gets duplicated at the subsite level when I add the breadcrumb app"
[
![duplicate_breadcrumb](https://user-images.githubusercontent.com/80866261/111564406-e8f15780-8756-11eb-8f72-4bf542b9847c.JPG)
](url)

[2021-03-18 02:53] #370 closed

[2021-03-18 04:34] hugoabernier commented on #370
Thanks for your issue, but in order to help you, we'll need you to fill the new issue template completely, with solution name, author, environment, etc.

I'll go ahead and close this issue as incomplete. Feel free to open a new issue with all the information requested.

[2021-03-18 04:34] hugoabernier commented on #369
Thanks for your issue, but in order to help you, we'll need you to fill the new issue template completely, with solution name, author, environment, etc.

I'll go ahead and close this issue as incomplete. Feel free to open a new issue with all the information requested.

[2021-04-02 17:39] dcase20 commented on #351
Hi Everyone! Im curious if anyone else was able to try Sudharsank's fix and got their extension working? I am curious about the command you used to install typestyle 2.0.4. I finally used 'npm install --save "typestyle@^2.0.4"' to get something installed with no errors but still no joy for me. Also, this install did show up in the package.json file as "typestyle": "^2.1.0" so I feel like the packa

[2021-04-08 13:43] AlRoome opened #375 "Breadcrumb not updating on page change"
Not sure if it's me but using your Breadcrumb Application Customizer it never updates on navigating between pages only if you refresh the page. Not sure it's user error from my side?

[2021-04-17 17:13] #375 closed

[2021-04-19 14:28] hugoabernier commented on #351
Closing this issue as stale. Would recommend mentioning the author of the sample next time, it may get their attention and increase the chances of getting a response.

[2021-04-19 14:28] #351 closed

[2021-04-20 04:23] Brian78912 commented on #351
Hi @AhmadiRamin or @VesaJuvonen can you  help this issue still remain.

[2021-04-20 08:02] AhmadiRamin commented on #351
Hi everyone,

I wish you mentioned me earlier, I just saw this. Let me try to replicate the issue and will provide you a solution.

[2021-05-18 15:48] nilang-shah opened #390 "unable to configure react-application-announcements"
### Sample

https://github.com/pnp/sp-dev-fx-extensions/tree/main/samples/react-application-announcements

### Author(s)

@thespooler

### What happened?

I have followed all steps mentioned within this page https://github.com/pnp/sp-dev-fx-extensions/tree/main/samples/react-application-announcements under **Announcements list columns**, **Build and deploy and using PowerShell** but I am not able

[2021-05-18 17:48] thespooler commented on #390
Did you correctly escape that PowerShell string? The way it is pasted looks wrong, but it might just be GH issues messing it up. Otherwise, it looks like you're using the /sites/ProjectHubTest in one case and /sites/HubTest in the other.
You should look at your network traffic tab to see if any queries are 404 or looks wrong.

[2021-05-18 18:17] nilang-shah commented on #390
Hi @thespooler,

Thanks for your quick reply. I am using exact same URL "/sites/ProjectHubTest", for some reason I messed up while creating a bug, I am attaching image for both my PS command and Network traffic tab below.

**PowerShell**
![react-application-announcements-powershell](https://user-images.githubusercontent.com/26605680/118702856-7434ab00-b7e3-11eb-91e9-2c9e4f968fa3.JPG)

**Network Tr

[2021-05-18 18:46] nilang-shah commented on #390
Hi @thespooler ,

One thing I noticed when its working in debug mode with `gulp serve` and query string. it does return with 2 404 errors for react and react-dom as in below screenshot.

![react and react-dom error](https://user-images.githubusercontent.com/26605680/118706414-549f8180-b7e7-11eb-9384-5d7304eedd8d.JPG)

However, while in regular mode its not working it does not give those 2 errors.

[2021-05-21 21:11] nilang-shah commented on #390
Hi @thespooler ,

I will appreciate any help or suggestion on this, so I can troubleshoot it further.

Thank You,
Nilang

[2021-05-31 22:09] thespooler commented on #390
Any error in the console?

[2021-06-10 12:12] johanvandy opened #396 "react-application-pva-bot"
### Sample

https://github.com/pnp/sp-dev-fx-extensions/tree/main/samples/react-application-pva-bot

### Author(s)

@hugoabernier  @bernierh @dmitryvorobyov

### Question

Hi all,

Am trying this extension as is. The only changes I made is the **pageUrl** in the serve.json file to point to one of our sites and not the default Contoso site.

I have not configured\added any Authentication (Adding Au

[2021-06-10 13:00] hugoabernier commented on #396
Thanks @johanvandy for trying the sample. Can you confirm that you followed the instructions to find the `botId` and `tenantId` and added those to your updated `serve.json`?

If you didn't, please do so and open a new **bug** ticket so we can diagnose the issue.

I'll go ahead and close this issue, as we'll need the environment details/repro steps to resolve this issue.

[2021-06-10 13:00] #396 closed

[2021-06-10 17:28] nilang-shah commented on #390
Hi @thespooler ,

Screenshots I provided [above message](https://github.com/pnp/sp-dev-fx-extensions/issues/390#issuecomment-843444653) do contain errors in the console.

In reference with backticks, As PowerShell provided in readme did not work for me I have got reference from [Add-PnPCustomAction Example-2](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/add-pnpcustomaction?vie

[2021-06-11 04:33] johanvandy commented on #396
Thanks @hugoabernier
I cannot find a placeholder for the the **botid** or **tenantid** in the serve.json file. Neither can I find any reference in the readme file to where they should be configured.
Below is a copy of my serve.json file.

`{
  "$schema": "https://developer.microsoft.com/json-schemas/core-build/serve.schema.json",
  "port": 4321,
  "https": true,
  "serveConfigurations": {
    "def

[2021-06-11 06:19] johanvandy opened #397 "react-application-pva-bot"
### Sample

https://github.com/pnp/sp-dev-fx-extensions/tree/main/samples/react-application-pva-bot

### Author(s)

@bernierh @dmitryvorobyov

### What happened?

I am getting a **Unable to connect** message. Please refer to [https://github.com/pnp/sp-dev-fx-extensions/issues/396](url)

I cannot find a placeholder for the the botid or tenantid in the **serve.json** file. I did find it in the **ele

[2021-06-11 18:18] thespooler commented on #390
Maybe, but they're not related to this webpart.
The call stack only shows platform stuff.

[2021-06-12 02:03] hugoabernier commented on #397
@johanvandy, please try the following steps:
1. Run `gulp serve --nobrowser`
2. Browse to a page on your tenant
3. Append this to the query string, making sure to update the `botId` and `tenantId` in the URL::
[code]

The JSON parameters you pass in the `serve.json` should be proper JSON -- not XML encoded. For a list of the possible settings, take a look at the [instructions to deploy to all site

[2021-06-12 06:31] johanvandy commented on #397
@hugoabernier

I have tried your suggestion and now I am getting the below error.  The test url is as follows (XXXXX for security):
https://XXXXX.sharepoint.com/sites/IntranetQA/SitePages/Chatbot-Test.aspx?loadSPFX=true&debugManifestsFile=https://localhost:4321/temp/manifests.js&customActions={"361d8846-81a4-490b-8cc9-ff67d211faaa":{"location":"ClientSideExtension.ApplicationCustomizer","propertie

[2021-06-15 07:00] #397 closed

[2021-06-15 07:51] johanvandy commented on #397
@hugoabernier

It seems that the extension needs to be added to the appCatalogue first before it actually works. Without it being added to the appCatalogue, I keep getting the errors as mentioned in previous message.

Also important is to make sure that the bot has been published.

[2021-06-23 16:32] hugoabernier commented on #390
@nilang-shah it looks like the issue isn't related to the extension.

I'll mark this issue as closed, but feel free to open a new issue so we can investigate further.

[2021-06-23 16:32] #390 closed

[2021-08-12 09:52] dborchers-gc commented on #310
Hello @Gennady-G i have teh same problem you described here with this example
[https://github.com/pnp/sp-dev-fx-extensions/tree/main/samples/jquery-application-toastr](https://github.com/pnp/sp-dev-fx-extensions/tree/main/samples/jquery-application-toastr)

I dont really understand your solutions because the code in your repo seems to be very differenzt to the origonal code

Can i solve teh issue

[2021-08-12 10:31] Gennady-G commented on #310
Hi @dborchers-gc !
My sample is not this cloned solution, but HelloWorld example where I hard-coded missing icons with base64 strings. I also replaced some css to adjust icon positions. Sure You can play with this solution and create sppkg.

For me - encoding to base 64 was the only way to support different versions of Fluent UI. Maybe there is another solution, don't know.

Best regards,
Gennady

[2021-08-12 11:04] dborchers-gc commented on #310
okay i got it

but the missed icons seems to be a poroblem in this solution.

maybe @PopWarner or @thechriskent have a solutiosn for this or an update for the sample?

[2021-08-13 15:50] zenaidura opened #411 "react-application-my-lists-notifications -"
### Sample

react-application-my-lists-notifications

### Author(s)

@joaojmendes

### Question

Its great work and highly usable however my client is also interested to show same notifications when a comment is added to a site page.
Currently I have a solution that crawls through all site pages and using REST APIs, capture the comments, likes and replies for each page and creates an entry in the

[2021-08-16 21:54] 88naveen opened #413 "ReferenceError: Primordials is not defined"
### Sample

https://github.com/pnp/sp-dev-fx-extensions/tree/main/samples/jquery-application-toastr

### Author(s)

@

### Question

I am getting this error  and not sure how to proceed if someone can educate me that would be a great help

Using these config
node -v
v14.17.3
npm -v
6.14.13

 @microsoft/generator-sharepoint@1.12.1

PS C:\DemoDev\jquery-application-toastr> gulp serve
ReferenceError:

[2021-08-21 19:31] notariorob commented on #413
Hi @88naveen, switching to node v11 or v10 should solve the issue. You can use nvm to switch between node versions easily.

[2021-09-16 11:47] #413 closed

[2021-10-29 15:04] DREAMTOAIM opened #425 "I have deployed the solution to tenant and i could not look up the extension to add it to the site collection (Deployed tenant wide with no errors)"
### Sample

SPFx Toastr Application Customizer

### Author(s)

@thechriskent

### Question

I was trying to add this SPFx Toastr Application Customizer extension to my tenant and i have deployed it successfully but i was not able to add the extension to the SPO site collection. Read me notes have custom actions to add the custom list and extension to the site. when i am trying to add the custom ac

[2021-10-29 18:10] DREAMTOAIM commented on #425
Thank you I was able to deploy the list and also the Toastr notifications app to the site collection and added the required notification details in the list but I could not see any notifications on the site. I am i missing anything?

[2021-11-09 20:17] nahlaGit opened #427 "react-bot-framework-sso in sharepoint modern site"
### Sample

https://github.com/pnp/sp-dev-fx-extensions/tree/main/samples/react-bot-framework-sso

### Author(s)

PopWarner

### What happened?

hello i try do make this bot  sample["react-bot-framework-sso](https://github.com/pnp/sp-dev-fx-extensions/tree/main/samples/react-bot-framework-sso)"  work but when i user gulp serve --nobrowser i get this in my site
![image](https://user-images.githubus

[2021-11-22 11:28] JenniferUN opened #428 "js-application-appinsights error during install"
### Sample

https://github.com/pnp/sp-dev-fx-extensions/tree/main/samples/js-application-appinsights

### Author(s)

@sudharsank @xiao-lix  Guillaume Sellier (Premier Field Engineer - Microsoft) @GSellier  Luis Valencia (MVP) @levalencia

### What happened?

I've noticed the code (App Insights packages and JS tracking code) in this solution is slightly out-dated and there appears to be an issue wh

[2021-11-22 11:40] JenniferUN opened #429 "js-application-appinsights-advanced : Update App Insights packages and tracking code and allow 'Instrumentation key' to be deployed in tenant wide extensions"
### Sample

https://github.com/pnp/sp-dev-fx-extensions/tree/main/samples/js-application-appinsights-advanced

### Author(s)

@sudharsank @xiao-lix Guillaume Sellier (Premier Field Engineer - Microsoft) Luis Valencia (MVP)

### Suggestion

This is a great solution, however, it hasn't been updated for some time.

It would be great if the following updates could be made.

- update application packag

[2021-12-05 17:28] #427 closed

[2021-12-09 04:54] tyh77 opened #433 "react-command-singlepartapppage not showing custom action after deployment"
### Sample

react-command-singlepartapppage

### Author(s)

@luismanez

### What happened?

![image](https://user-images.githubusercontent.com/25734254/145336599-79890458-4e66-412c-a61a-8c24275008d5.png)

Unable to see Single Part Page option in the options panel.

### Steps to reproduce

1. Git clone repo
2. npm i
3. gulp serve

### Expected behavior

I expect to see the option to turn the SitePa

[2021-12-14 16:13] moumen100 opened #434 "App package error when trying to deploy extension in the app catalog"
### Sample

react-command-page-model-pnpjs

### Author(s)

VesaJuvonen

### What happened?

I have noticed error message after i upload the sppkg in the app catalog in both sharepoint online and sharepoint 2019 on-prem solutions
below the error message
![image](https://user-images.githubusercontent.com/31031378/146013923-596c28ac-9e25-42d5-9a59-50072c60d29c.png)

### Steps to reproduce

1. gulp bu

[2021-12-18 15:25] luismanez commented on #433
Hi @tyh77
this sample is pretty old. However, is still working for me.

![image](https://user-images.githubusercontent.com/9392197/146646108-a0df109c-eade-441c-8fac-42e07ee979b9.png)

I´ve used NVM to install _node_ v8.17.0 as it was the node version required by spfx v.1.7.1. However, if you´re able to build the code using your node v10, it shouldn´t be the reason of your issue.

When loading the

[2021-12-29 23:01] tyh77 commented on #433
@luismanez thanks for looking into this.

I was able to get localhost up and running. However, once I compile: `gulp bundle --ship && gulp package-solution --ship`, the extension is not loaded on my SharePoint Site Pages library.

[2022-01-05 07:08] luismanez commented on #433
I see. As this is just a sample, I didn´t test the deployment. I think the reason is that the extension is thought to be used in the SitePages library. This is a document library. However, the __./sharepoint/assets/elements.xml__ file, is pointing to just Lists (please, see here: https://docs.microsoft.com/en-us/sharepoint/dev/spfx/extensions/get-started/building-simple-cmdset-with-dialog-api#add-

[2022-01-14 12:31] luismanez commented on #433
I´ve updated my sample to fix this "issue". Now if you deploy the sample, the button should be present in the SitePages library. My previous comment was right, but actually, the __RegistrationId__ to use should be 116, which is the proper value for the SitePages library

However, something I´ve noted is that setting a page as an AppPartPage, seems is not working as expected anymore, and once the A

[2022-01-14 13:20] luismanez commented on #433
BTW, the issue happens only when the page contains some "artifacts". For instance, I´ve created a Blank page, removed all the sections and webparts, added only a People webpart, converted the page using my sample, and then the page is loaded fine as a Single AppPart page...

[2022-01-16 19:42] #433 closed

[2022-01-17 18:21] #428 closed

[2022-01-17 18:22] JenniferUN commented on #428
Issue has now been resolved with a minor code update.

[2022-01-17 18:27] #429 closed

[2022-02-24 12:38] tleclaire opened #444 "react-my-lists-notifications Why not using "sp-list-subscription""
### Sample

react-application-my-lists-notifications

### Author(s)

@hugubarnier

### Question

Looking at the code, you are handling the notifications by using the graph api and Socket.io directly allthough there is a SPFx standard package "sp-list-subscription" available, which would at least eliminate the need for graph permissions.
So the question is:
Why aren't you using sp-list-subscription

[2022-03-02 15:30] jesus-oyola opened #446 "Missing path solution\react-application-injectcss.sppkg"
### Sample

n/a

### Author(s)

hugoabernier

### What happened?

I tried running DeployApplicationCustomizer.ps1 and got the following error:

dd-PnPApp : Could not find a part of the path 'C:\GithubRepositories\sp-dev-fx-extensions\sharepoint\solution\react-application-injectcss.sppkg'.
At C:\GithubRepositories\sp-dev-fx-extensions\DeployApplicationCustomizer.ps1:8 char:1
+ Add-PnPApp -path .\sh

[2022-03-09 12:52] mjoksa opened #448 "react-application-news-ticker -"
### Sample

react-application-news-ticker

### Author(s)

@AriGunawan

### What happened?

Extension does not work as expected.
I get an error on page load.

### Steps to reproduce

1. Generated sppkg from main branch.
2. Installed package into client tenant for all sites with no errors.
3. Open page and I get an error in browser console:

P.S. I did everything from prerequisites.

### Expected be

[2022-04-05 09:28] Worrelpa opened #451 "js-application-microsoft-clarity -"
### Sample

js-application-microsoft-clarity

### Author(s)

@joaoferreira

### Question

In the Video about Clarity Joao showed a fix for issues with heat maps in Clarity for SP Sites. Is there any further information on this fix and how it can be implemented?

Thanks

[2022-04-19 18:51] webbrewer opened #457 "Any way to get react-command-convert-to-pdf to export site pages?"
### Sample

react-command-convert-to-pdf

### Author(s)

wobba

### Question

Works for html files but not aspx....which is what I really need (without having to convert all my pages to aspx).

[2022-05-09 20:04] PikeSal opened #461 "How do i configure multiple tracking codes for different site collections"
### Sample

js-application-analytics

### Author(s)

@hugoabernier

### Question

I need to configure Google Analytics on two site collections, the readme mentions adding the tracking ID and URL in config/serve.json, how do i configure tracking for two SharePoint online sites using two Google Analytics tracking IDs.

[2022-05-19 14:00] saqis opened #462 "The application customiser wouldn't remove from the site collection"
### Sample

https://github.com/pnp/sp-dev-fx-extensions/tree/main/samples/react-application-injectcss

### Author(s)

@hugoabernier

### What happened?

This extension was initially deployed to the whole tenancy (at the time of the installation) as a test and we never actually used it in any of site collections however we started experiencing the following issue recently and did some investigation

[2022-06-02 16:10] ajagann1 opened #469 ""npm i" for react-application-announcements sample fails due to "@microsoft\gulp-core-build-sass""
### Sample

react-application-announcements

### Author(s)

Waldek Mastykarz

### What happened?

Tried to install the sample to get an understanding of how to create a SharePoint artifact that displays banners on SharePoint pages but was roadblocked on the very first step.  Every time I run "npm i" the operation fails due to some issue with the "microsoft\gulp-core-build-sass" node module.  Here'

[2022-06-05 03:50] #448 closed

[2022-06-05 03:56] hugoabernier commented on #469
The sample you are referring to was build in SPFx 1.10, which is not compatible with Node.js 14. Please use the [compatibility matrix](https://docs.microsoft.com/sharepoint/dev/spfx/compatibility) and update your environment with a compatible version of Node.

[2022-06-05 03:56] #469 closed

[2022-06-05 04:03] hugoabernier commented on #462
This usually happens when you deploy the extension more than once on a site.

Take a look at https://www.peters.com/blog/sharepoint-online-sharepoint-framework-spfx-extensions-custom-action-cleanup/

[2022-06-05 04:03] #462 closed

[2022-06-15 21:42] sympmarc opened #479 "Sample missing README details: react-application-news-ticker"
### Sample

https://github.com/pnp/sp-dev-fx-extensions/tree/main/samples/react-application-news-ticker

### Author(s)

@sudharsank

### Suggestion

The README for this sample seems to just be the template - no details are provided.

### Are you willing to help?

Yes

[2022-06-17 05:55] teylyn commented on #479
Hello @sudharsank , I have this app working in the gulp serve preview, but when I package and deploy to a site collection app catalog, then add the app to the site, nothing happens on the modern site pages. What should be done?

[2022-07-04 08:12] Sharukh-maker opened #485 "Solution Deployment Error"
### Sample

sp-dev-fx-extensions-main\samples\js-command-selecteditems-export

### Author(s)

none

### What happened?

Hi,
   I was trying to add this spfx-cmdex-export-items List command view extension to my tenant and i have deployed it successfully but when I am trying to select list item to export into excel then list command view extension is not visible on site.
Not sure where the issue?

#

[2022-07-11 20:42] RobinP1 commented on #485
I got the same error, creating the list manually fixed the problem.

[2022-07-13 14:10] priyaram51 opened #486 "react-application-news-ticker -"
### Sample

react-application-news-ticker

### Author(s)

@AriGunawan

### Question

Hi

I have followed the steps to implement and deployed this solution to my site, but after that I cant see the News ticker running on the top of the page. Any idea what am missing here? The deployment steps are not mentioned so used my usual deployment method to my site.

[2022-07-13 15:18] Rampriyar2022 commented on #479
Same, here The app doesn't work and no details on how to fix it. I followed the same procedure but adter deployment nothing happens, @sudharsank  can you please help?

[2022-07-20 13:06] bhaidar opened #493 "The second time I click "Change Layout" the Dialog is maintaining a value of true for hideDialog"
### Sample

N/A

### Author(s)

N/A

### What happened?

Hello,
When running this extension locally, I select the first-time page on the list, then change the layout. Later, I select another page and click once again Change Layout, the Dialog is hidden. The hideDialog state remains true and never switches back to false.

Thanks

### Steps to reproduce

Run the app locally:
1- Select a Page and the

[2022-08-27 13:36] AriGunawan commented on #486
It seems that the last update (upgrade SPFx version to 1.14) didn't correctly implemented (missed readme, missed modules (react, react-dom, types, etc), changed ids, etc).
I've recreated the app using the latest SPFx and tested + deployed the app.
Hope the app works again for you.
*Please reinstall the app from fresh folder to make sure that you install the latest version (after my PR has been mer

[2022-08-27 13:37] AriGunawan commented on #479
It seems that the last update (upgrade SPFx version to 1.14) didn't correctly implemented (missed readme, missed modules (react, react-dom, types, etc), changed ids, etc).
I've recreated the app using the latest SPFx and tested + deployed the app and created a PR.
Hope the app works again for you.
*Please reinstall the app from fresh folder to make sure that you install the latest version (after m

[2022-08-31 07:07] matherm-aboehm commented on #457
You probably need a browser-like web engine to execute the JS for any client side dynamic content of the aspx page and then use this output DOM to save it a static html page in SharePoint. After that you can use the normal html to pdf conversion of this extension.
There is a NodeJS module for this purpose, which was mentioned in this [superuser thread](https://superuser.com/a/448517/684861).

[2022-09-07 22:12] russgove opened #504 "Create an extension to let users add sharepoint libraries/floders/files to a Teams channel as a chat or a message"
### Sample description

let users add sharepoint libraries/folders/files to a Teams channel as a chat or a message.

Will grant team members permission to said  sharepoint libraries/folders/files and add a tab or post a message to the channel

### SPFx version

_No response_

### Are you willing to help?

Yes

[2022-09-07 22:14] russgove commented on #504
https://github.com/russgove/react-command-share-to-teams.git

[2022-09-09 19:25] risham12 opened #522 "Unable to translate the pages to the language code "fr-ca""
### Sample

react-application-machine-translations

### Author(s)

@agtenr

### Question

I want to use the solution to perform the language conversion to "fr-ca", however the code base fails, when I try to perform this conversion.

Error:


Cannot read properties of undefined (reading 'code')

Its in the list of available languages - https://docs.microsoft.com/en-us/azure/cognitive-services/tran

[2022-10-20 17:11] greenfox75 opened #532 "react-command-form-settings not redirect to my custom page"
### Sample

react-command-form-settings

### Author(s)

hugoabernier

### What happened?

Not open the custom link when I click on the new button.

### Steps to reproduce

1. Install the solution in the environment
2. Create Document Library
3. Enable document sets on the site
4. Create a custom document set and add to the document library
5. Enable Content Type on the Document Library
6. Add the

[2022-11-11 11:26] #504 closed

[2022-11-11 23:25] superhotfireman opened #561 "(react-application-news-ticker) If I wanted to use a List with a different name 'News', where would I need to make a change?"
### Sample

https://github.com/pnp/sp-dev-fx-extensions/tree/main/samples/react-application-news-ticker

### Author(s)

@arigunawan3023

### Question

Hello everyone,

In some a site that we use the ticker extension on, users wanted to create a new List called 'Announcements" and use that as a source for the Ticker extension app (because we already have a List called News for other purpose).

To a